@media only screen and (max-width: 1300px){

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v6.standard_no_space .filler,
	.projects_holder.v6.hover_text.no_space .mix,
	.projects_holder.v6.hover_text.no_space .filler{
		width: 19.99%;
	}

	.safari_browser .projects_holder.v6.standard_no_space .mix,
	.safari_browser .projects_holder.v6.hover_text.no_space .mix,
	.safari_browser .projects_holder.v6.standard_no_space .filler,
	.safari_browser .projects_holder.v6.hover_text.no_space .filler,
	.mac .projects_holder.v6.standard_no_space .mix,
	.mac .projects_holder.v6.hover_text.no_space .mix,
	.mac .projects_holder.v6.standard_no_space .filler,
	.mac .projects_holder.v6.hover_text.no_space .filler{
		width: 19.93%;
	}
}

@media only screen and (max-width: 1200px){
	body.boxed .wrapper_inner,
	body.boxed footer,
	body.boxed .header_inner,
	body.boxed .full_width .parallax_content,
	body.boxed .carousel-inner{
		width: 1000px;
	}
	
	.container_inner,
	.boxed section.section .section_inner,
	section.grid_section .section_inner,
	.full_width .parallax_content,
	.steps_holder_inner,
	.carousel-inner .slider_content_outer{
		width: 950px;
	}
	
	nav.main_menu > ul > li > a span{
		padding: 0px 14px;
	}
	
	.drop_down .wide .second ul li{
		width: 230px;
	}
	
	.projects_holder.v6 .mix,
	.projects_holder.v6.hover_text .mix{
		width: 18.5%;
		margin: 0 0 1.7%;
	}

	.projects_holder.v6 .filler,
	.projects_holder.v6.hover_text .filler{
		width: 18.5%;
	}

	.latest_post_holder ul > li.two iframe,
	body.boxed .latest_post_holder ul > li.two iframe{
		height: 262px;
	}

	.latest_post_holder ul > li.three iframe,
	body.boxed .latest_post_holder ul > li.three iframe{
		height: 171px;
	}

	.latest_post_holder ul > li.four iframe,
	body.boxed .latest_post_holder ul > li.four iframe{
		height: 126px;
	}
}

@media only screen and (max-width: 1000px){

	body.boxed .wrapper_inner,
	body.boxed footer,
	body.boxed .header_inner,
	body.boxed .full_width .parallax_content,
	body.boxed .carousel-inner{
		width: 818px;
	}
	
	.container_inner,
	.boxed section.section .section_inner,
	section.grid_section .section_inner,
	.full_width .parallax_content,
	.steps_holder_inner,
	.carousel-inner .slider_content_outer{
		width: 768px;
	}

	.full_width .projects_holder_outer.v6, 
	.full_width .projects_holder_outer.v5{
		width: 100%;
	}

	.header_top .container{
		display: inline-block;
	}
	
	header,
	.header_inner_left{
		position: relative !important;
		left: 0px !important;
		margin-bottom: -6px;
	}
	
	.right_side_menu_opened .wrapper header{
		left: 0px !important;
	}

	.header_top{
		height: auto;
		background-color: #1f1f1f;
	}
	
	.dark .header_top .q_social_icon_holder .fa-stack i,
	.dark .header_top .left div,
	.dark .header_top .right div,
	.dark .header_top .left div span,
	.dark .header_top .right div span,
	.dark .header_top .left div p,
	.dark .header_top .right div p,
	.dark .header_top #lang_sel > ul > li > a{
		color: #ffffff !important;
	}
	
	
	.header_top .left,
	.header_top .right{
	    text-align: center;
	    float: none;
	}
	
	.header_top .inner{
		display: inline-block;
		margin: 0 0 -4px;
	}
	
	.header_bottom{
		background-color: #2c2c2c;
	}
	
	header.centered_logo .header_inner_left{
		margin: 0px;
	}
	
	header.centered_logo .header_inner_right{
		float:right;
	}
	
	header.centered_logo .logo_wrapper{
		height: 100px !important;
	}
	
	header .q_logo img.normal{
		display: block !important;
		opacity: 1 !important;
		position: relative;
	}
	
	header .q_logo img.dark,
	header .q_logo img.sticky{
		display: none !important;
	}
	
	header.centered_logo .q_logo{
		top: 50%;
	}
	
	header.centered_logo .q_logo img{
		top: -50%;
	}
	
	header .q_logo.animate_logo div.normal{
		opacity:1 !important;
		display: block;
	}
	
	header .q_logo.animate_logo div.dark,
	header .q_logo.animate_logo div.sticky{
		display: none;
	}
	
	.main_menu{
		display: none !important;
	}

	nav.mobile_menu{
		display: block;
	}
	
	.mobile_menu_button{
		display: table;
	}
	
	.dark .mobile_menu_button span{
		color: #ffffff;
	}
	
	nav.mobile_menu > ul{
		width: 768px;
		margin: 0px auto;
	}
	
	.logo_wrapper{
		height: 100px !important;
		position: absolute;
		left: 50%;
	}
	
	.q_logo img{
		left: -50%;
	}
	
	.title.has_fixed_background,
	.title.has_background	{
		background: none !important;
		height: auto !important;
	}
	
	.title .not_responsive{
		display: block;
	}
	
	.title .title_holder,
	.title.with_image .title_holder{
		position: absolute;
		top: 35% !important;
	}
	
	.title.title_on_bottom .title_holder{
		top: auto !important;
	}
	
	.title h1{
		margin: 0px;
	}
	
	.side_menu_button,
	.shopping_cart_inner{
		height: 100px !important;
	}
	
	.dark .side_menu_button a,
	.dark .side_menu_button a:hover,
	.dark .shopping_cart_header .header_cart i,
	.dark .shopping_cart_header:hover .header_cart i{
		color: #ffffff;
	}
	
	.content{
		margin: 0px 0px 0px 0px !important;
	}
        
	.header_top .right #lang_sel ul ul, .header_top .right #lang_sel_click ul ul {
		right: 0;
	}
	
	.projects_holder.v6 .mix,
	.projects_holder.v5 .mix,
	.projects_holder.v4 .mix,
	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.circle.v6 .mix,
	.projects_holder.circle.v5 .mix,
	.projects_holder.circle.v4 .mix{
		width: 23%;
		margin: 0 0 3%;
	}

	.projects_holder.v6 .filler,
	.projects_holder.v5 .filler,
	.projects_holder.v4 .filler,
	.projects_holder.v6.hover_text .filler,
	.projects_holder.v5.hover_text .filler,
	.projects_holder.v4.hover_text .filler,
	.projects_holder.circle.v6 .filler,
	.projects_holder.circle.v5 .filler,
	.projects_holder.circle.v4 .filler{
		width: 23%;
	}

	.projects_holder.v3 .mix,
	.projects_holder.v2 .mix{
		margin: 0 0 3%;
	}

	.projects_holder.circle.v3 .mix,
	.projects_holder.circle.v2 .mix{
		margin: 0 0 4%;
	}

	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix{
		margin: 0 0 2.8%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v6.standard_no_space .filler,
	.projects_holder.v5.standard_no_space .filler,
	.projects_holder.v4.standard_no_space .filler,
	.projects_holder.v6.hover_text.no_space .mix,
	.projects_holder.v5.hover_text.no_space .mix,
	.projects_holder.v4.hover_text.no_space .mix,
	.projects_holder.v6.hover_text.no_space .filler,
	.projects_holder.v5.hover_text.no_space .filler,
	.projects_holder.v4.hover_text.no_space .filler{
		width: 24.99%;
	}

	.safari_browser .projects_holder.v6.standard_no_space .mix,
	.safari_browser .projects_holder.v6.hover_text.no_space .mix,
	.safari_browser .projects_holder.v6.standard_no_space .filler,
	.safari_browser .projects_holder.v6.hover_text.no_space .filler,
	.safari_browser .projects_holder.v5.standard_no_space .mix,
	.safari_browser .projects_holder.v5.hover_text.no_space .mix,
	.safari_browser .projects_holder.v5.standard_no_space .filler,
	.safari_browser .projects_holder.v5.hover_text.no_space .filler,
	.safari_browser .projects_holder.v4.standard_no_space .mix,
	.safari_browser .projects_holder.v4.hover_text.no_space .mix,
	.safari_browser .projects_holder.v4.standard_no_space .filler,
	.safari_browser .projects_holder.v4.hover_text.no_space .filler,
	.mac .projects_holder.v6.standard_no_space .mix,
	.mac .projects_holder.v6.hover_text.no_space .mix,
	.mac .projects_holder.v6.standard_no_space .filler,
	.mac .projects_holder.v6.hover_text.no_space .filler,
	.mac .projects_holder.v5.standard_no_space .mix,
	.mac .projects_holder.v5.hover_text.no_space .mix,
	.mac .projects_holder.v5.standard_no_space .filler,
	.mac .projects_holder.v5.hover_text.no_space .filler,
	.mac .projects_holder.v4.standard_no_space .mix,
	.mac .projects_holder.v4.hover_text.no_space .mix,
	.mac .projects_holder.v4.standard_no_space .filler,
	.mac .projects_holder.v4.hover_text.no_space .filler{
		width: 24.95%;
	}

	.projects_holder article .hover_feature_holder_title_inner,
	.portfolio_slider .hover_feature_holder_title_inner,
	.projects_holder.v4 article .hover_feature_holder_title_inner,
	.projects_holder.v5 article .hover_feature_holder_title_inner,
	.projects_holder.v6 article .hover_feature_holder_title_inner{
		padding: 10px 3%;
	}

	.projects_holder article .hover_feature_holder_icons,
	.portfolio_slider .hover_feature_holder_icons,
	.projects_holder.v4 article .hover_feature_holder_icons,
	.projects_holder.v5 article .hover_feature_holder_icons,
	.projects_holder.v6 article .hover_feature_holder_icons{
		height: 60%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v3.standard_no_space .mix{
		margin: 0 0 3%;
	}

	.blog_holder.masonry article{
		width: 47%;
	}
        
	.box_image_holder .box_icon .fa-stack {
		font-size: 3em;
	}
	
	.q_steps_holder .step1{
		left: -81px; 
	}

	.q_steps_holder .step2{
		left: 122px;
	}

	.q_steps_holder .step3{
		left: 350px;
	}

	.q_steps_holder .step4{
		left: 560px;
	}

	.q_steps_holder .step1,
	.q_steps_holder .step2,
	.q_steps_holder .step3,
	.q_steps_holder .step4{
		margin: 0 0 30px;
	}

	.qode_call_to_action .two_columns_75_25>.column2>.column_inner {
			padding: 0;
	}
	
	.qode_call_to_action .qbutton {
			padding: 0 10px !important;
			font-size: 10px;
	}

	.q_icon_list p,
	.q_list.number.circle_number li{
		line-height: 25px;
   }

   .latest_post_holder ul > li.two iframe,
   body.boxed .latest_post_holder ul > li.two iframe{
		height: 212px;
	}

	.latest_post_holder ul > li.three iframe,
	body.boxed .latest_post_holder ul > li.three iframe{
		height: 137px;
	}

	.latest_post_holder ul > li.four iframe,
	body.boxed .latest_post_holder ul > li.four iframe{
		height: 102px;
	}
	
	.filter_outer{
		height: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1100px){

	.portfolio_gallery a.v4{
		width: 32%;
		margin: 0 2% 2% 0 !important;
	}

	.portfolio_gallery a.v4:nth-child(3n){
		margin: 0px 0px 2% 0px !important;
	}

	.gallery_holder ul.v5 li,
	.gallery_holder ul.v4 li{
		width: 23.1%;
		margin: 0 2.5% 20px 0 !important;
	}

	.gallery_holder ul.v5 li:nth-child(4n),
	.gallery_holder ul.v4 li:nth-child(4n){
		margin: 0 0 20px !important;
	}

	.latest_post_holder ul > li.three{
		width: 31.6%;
		padding: 0 2.6% 0 0 !important;
	}

	.latest_post_holder ul > li.three:nth-child(3),
	.latest_post_holder ul > li.three:nth-child(7),
	.latest_post_holder ul > li.three:nth-child(11){
		padding: 0px !important;
	}

	.drop_down .wide .second ul li .flexslider.widget_flexslider ul.flex-direction-nav li{
		width: 194px;
	}
    
    .widget.widget_search form input[type="text"] {
        width: 67%;
    }

	.blog_holder article .post_info{
		width: 10%;
	}

	.blog_holder article .post_content_holder {
		width: 90%;
	}

	.grid2 .blog_single article .post_info{
		width: 13%;
	}

	.grid2 .blog_single article .post_content_holder{
		width: 87%;
	}

	.grid2 .blog_single article .post_info .inner{
		padding: 0 10px 0 0;
	}
	
	.single_tags {
    	margin: 35px 0 0 10%;
	}

	.q_percentage_with_icon{
		width: 100% !important;
		height: 180px !important;
		line-height: 180px !important;
	}

	.q_percentage_with_icon canvas{
		width: 100% !important;
		height: 100% !important;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1100px){
	.q_percentage_with_icon{
		width: 80% !important;
	}
}

@media only screen and (max-width: 900px){
	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v6.standard_no_space .filler,
	.projects_holder.v5.standard_no_space .filler,
	.projects_holder.v4.standard_no_space .filler,
	.projects_holder.v6.hover_text.no_space .mix,
	.projects_holder.v5.hover_text.no_space .mix,
	.projects_holder.v4.hover_text.no_space .mix,
	.projects_holder.v6.hover_text.no_space .filler,
	.projects_holder.v5.hover_text.no_space .filler,
	.projects_holder.v4.hover_text.no_space .filler{
		width: 33.32%;
	}

	.safari_browser .projects_holder.v6.standard_no_space .mix,
	.safari_browser .projects_holder.v6.hover_text.no_space .mix,
	.safari_browser .projects_holder.v6.standard_no_space .filler,
	.safari_browser .projects_holder.v6.hover_text.no_space .filler,
	.safari_browser .projects_holder.v5.standard_no_space .mix,
	.safari_browser .projects_holder.v5.hover_text.no_space .mix,
	.safari_browser .projects_holder.v5.standard_no_space .filler,
	.safari_browser .projects_holder.v5.hover_text.no_space .filler,
	.safari_browser .projects_holder.v4.standard_no_space .mix,
	.safari_browser .projects_holder.v4.hover_text.no_space .mix,
	.safari_browser .projects_holder.v4.standard_no_space .filler,
	.safari_browser .projects_holder.v4.hover_text.no_space .filler,
	.mac .projects_holder.v6.standard_no_space .mix,
	.mac .projects_holder.v6.hover_text.no_space .mix,
	.mac .projects_holder.v6.standard_no_space .filler,
	.mac .projects_holder.v6.hover_text.no_space .filler,
	.mac .projects_holder.v5.standard_no_space .mix,
	.mac .projects_holder.v5.hover_text.no_space .mix,
	.mac .projects_holder.v5.standard_no_space .filler,
	.mac .projects_holder.v5.hover_text.no_space .filler,
	.mac .projects_holder.v4.standard_no_space .mix,
	.mac .projects_holder.v4.hover_text.no_space .mix,
	.mac .projects_holder.v4.standard_no_space .filler,
	.mac .projects_holder.v4.hover_text.no_space .filler{
		width: 33.3%;
	}
}

@media only screen and (max-width: 768px){

	body.boxed .wrapper_inner,
	body.boxed footer,
	body.boxed .header_inner,
	body.boxed .full_width .parallax_content,
	body.boxed .carousel-inner{
		width: 650px;
	}
	
	.container_inner,
	.boxed section.section .section_inner,
	section.grid_section .section_inner,
	.full_width .parallax_content,
	.steps_holder_inner,
	.carousel-inner .slider_content_outer{
		width: 600px;
	}
	
	nav.mobile_menu > ul{
		width: 600px;
	}
	
	.title h1 span{
		font-size: 80%;
	}
	
	.projects_holder.v6 .mix,
	.projects_holder.v5 .mix,
	.projects_holder.v4 .mix,
	.projects_holder.v3 .mix,
	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.circle.v6 .mix,
	.projects_holder.circle.v5 .mix,
	.projects_holder.circle.v4 .mix,
	.projects_holder.circle.v3 .mix	{
		width: 31%;
		margin: 0 0 4%;
	}

	.projects_holder.v6 .filler,
	.projects_holder.v5 .filler,
	.projects_holder.v4 .filler,
	.projects_holder.v3 .filler,
	.projects_holder.v6.hover_text .filler,
	.projects_holder.v5.hover_text .filler,
	.projects_holder.v4.hover_text .filler,
	.projects_holder.v3.hover_text .filler,
	.projects_holder.circle.v6 .filler,
	.projects_holder.circle.v5 .filler,
	.projects_holder.circle.v4 .filler,
	.projects_holder.circle.v3 .filler{
		width: 31%;
	}

	.projects_holder.v2 .mix{
		width: 48.3%;
		margin: 0 0 3.6%;
	}

	.projects_holder.circle.v2 .mix{
		width: 47.3%;
		margin: 0 0 4.6%;
	}

	.projects_holder.v2 .filler{
		width: 48.3%;
	}

	.projects_holder.circle.v2 .filler{
		width: 47.3%;
	}

	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix{
		margin: 0 0 3.4%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v3.standard_no_space .mix,
	.projects_holder.v2.standard_no_space .mix,
	.projects_holder.v6.standard_no_space .filler,
	.projects_holder.v5.standard_no_space .filler,
	.projects_holder.v4.standard_no_space .filler,
	.projects_holder.v3.standard_no_space .filler,
	.projects_holder.v2.standard_no_space .filler,
	.projects_holder.v6.hover_text.no_space .mix,
	.projects_holder.v5.hover_text.no_space .mix,
	.projects_holder.v4.hover_text.no_space .mix,
	.projects_holder.v3.hover_text.no_space .mix,
	.projects_holder.v2.hover_text.no_space .mix,
	.projects_holder.v6.hover_text.no_space .filler,
	.projects_holder.v5.hover_text.no_space .filler,
	.projects_holder.v4.hover_text.no_space .filler,
	.projects_holder.v3.hover_text.no_space .filler,
	.projects_holder.v2.hover_text.no_space .filler{
		width: 49.99%;
	}

	.safari_browser .projects_holder.v6.standard_no_space .mix,
	.safari_browser .projects_holder.v6.hover_text.no_space .mix,
	.safari_browser .projects_holder.v6.standard_no_space .filler,
	.safari_browser .projects_holder.v6.hover_text.no_space .filler,
	.safari_browser .projects_holder.v5.standard_no_space .mix,
	.safari_browser .projects_holder.v5.hover_text.no_space .mix,
	.safari_browser .projects_holder.v5.standard_no_space .filler,
	.safari_browser .projects_holder.v5.hover_text.no_space .filler,
	.safari_browser .projects_holder.v4.standard_no_space .mix,
	.safari_browser .projects_holder.v4.hover_text.no_space .mix,
	.safari_browser .projects_holder.v4.standard_no_space .filler,
	.safari_browser .projects_holder.v4.hover_text.no_space .filler,
	.safari_browser .projects_holder.v3.standard_no_space .mix,
	.safari_browser .projects_holder.v3.hover_text.no_space .mix,
	.safari_browser .projects_holder.v3.standard_no_space .filler,
	.safari_browser .projects_holder.v3.hover_text.no_space .filler,
	.safari_browser .projects_holder.v2.standard_no_space .mix,
	.safari_browser .projects_holder.v2.hover_text.no_space .mix,
	.safari_browser .projects_holder.v2.standard_no_space .filler,
	.safari_browser .projects_holder.v2.hover_text.no_space .filler,
	.mac .projects_holder.v6.standard_no_space .mix,
	.mac .projects_holder.v6.hover_text.no_space .mix,
	.mac .projects_holder.v6.standard_no_space .filler,
	.mac .projects_holder.v6.hover_text.no_space .filler,
	.mac .projects_holder.v5.standard_no_space .mix,
	.mac .projects_holder.v5.hover_text.no_space .mix,
	.mac .projects_holder.v5.standard_no_space .filler,
	.mac .projects_holder.v5.hover_text.no_space .filler,
	.mac .projects_holder.v4.standard_no_space .mix,
	.mac .projects_holder.v4.hover_text.no_space .mix,
	.mac .projects_holder.v4.standard_no_space .filler,
	.mac .projects_holder.v4.hover_text.no_space .filler,
	.mac .projects_holder.v3.standard_no_space .mix,
	.mac .projects_holder.v3.hover_text.no_space .mix,
	.mac .projects_holder.v3.standard_no_space .filler,
	.mac .projects_holder.v3.hover_text.no_space .filler,
	.mac .projects_holder.v2.standard_no_space .mix,
	.mac .projects_holder.v2.hover_text.no_space .mix,
	.mac .projects_holder.v2.standard_no_space .filler,
	.mac .projects_holder.v2.hover_text.no_space .filler{
		width: 49.97%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v3.standard_no_space .mix,
	.projects_holder.v2.standard_no_space .mix{
		margin: 0 0 3.4%;
	}

	.blog_holder.masonry article{
		width: 46.5%;
	}

	.two_columns_75_25 .blog_holder.masonry article,
	.two_columns_66_33 .blog_holder.masonry article,
	.two_columns_33_66 .blog_holder.masonry article,
	.two_columns_25_75 .blog_holder.masonry article{
		width:100%;
	}

	.latest_post_holder ul > li.four,
	.latest_post_holder ul > li.three,
	.latest_post_holder ul > li.two{
		width: 48.6%;
		padding: 0 2.7% 0 0 !important;
	}

	.latest_post_holder ul > li.two:nth-child(2),
	.latest_post_holder ul > li.two:nth-child(5),
	.latest_post_holder ul > li.two:nth-child(8),
	.latest_post_holder ul > li.three:nth-child(2),
	.latest_post_holder ul > li.three:nth-child(5),
	.latest_post_holder ul > li.three:nth-child(7),
	.latest_post_holder ul > li.three:nth-child(10),
	.latest_post_holder ul > li.four:nth-child(2),
	.latest_post_holder ul > li.four:nth-child(4),
	.latest_post_holder ul > li.four:nth-child(7),
	.latest_post_holder ul > li.four:nth-child(9),
	.latest_post_holder ul > li.four:nth-child(12),
	.latest_post_holder ul > li.four:nth-child(14){
		padding: 0px !important;
	}

	.latest_post_clear{
		clear: none;
	}

    .comment_holder .comment_number {
		display: none;
	}
	
	.comment_holder .comments {
		width: 100%;
	}

    .comment_holder .comment .text .name{
    	font-size: 14px;
    	line-height: 20px;
    }

    .comment_holder .comment .text{
    	padding: 0 0 0 90px;
    }

    .comment_holder .comment-list li ul.children{
    	padding: 0 0 0 15px;
    }

    .comment_holder .comment .text .replay, 
    .comment_holder .comment .text .comment-reply-link{
    	right: 5px;
    }
        
    /* ==========================================================================
    Grid
    ========================================================================== */
    .vc_row-fluid .vc_span3 .qbutton.medium,
    .vc_row-fluid .vc_span3 .qbutton.normal,
    .vc_row-fluid .vc_span3 .qbutton.large {
        padding: 0px 6px;
    }

    .title .title_on_bottom_wrap .title_on_bottom_holder .title_on_bottom_holder_inner{
    	padding: 0 20px;
    }

    .q_line_graf{
		margin: 0 0 25px;
		width: 100%;
	}

	.q_pie_graf{
		width: 70%;
		margin: 0 auto 25px;
		float: none;
	}

	.q_line_graf canvas,
	.q_line_graf_legend,
	.q_pie_graf canvas,
	.q_pie_graf_legend{
		width: 100% !important;
		height: auto !important;
	}

	.q_icon_list p,
    .q_list.number.circle_number li{
    	line-height: 40px;
    }

    .q_icon_list i{
    	line-height: 35px;
    	height: 35px;
    }

	.qbutton.large {
		height: 45px;
		line-height: 45px;
		padding: 0px 30px;
	}

	.qbutton.large:hover { 
		padding: 0px 40px;
	}

	.qbutton.medium {
		height: 38px;
		line-height: 38px;
		padding: 0px 25px;
	}

	.qbutton.medium:hover { 
		padding: 0px 33px;
	}

	.qbutton i{
		margin: 0 0 0 25px;
	}

	.projects_holder.v2.hover_text.no_space article .hover_feature_holder_icons{
		height: 75%;
	}

	.projects_holder.v2.hover_text.no_space article .hover_feature_holder_title{
		height: 25%;
	}

	.q_tabs{
		visibility: visible !important;
	}

	.latest_post_holder ul > li.two iframe,
	.latest_post_holder ul > li.three iframe,
	.latest_post_holder ul > li.four iframe,
	body.boxed .latest_post_holder ul > li.two iframe,
	body.boxed .latest_post_holder ul > li.three iframe,
	body.boxed .latest_post_holder ul > li.four iframe{
		height: 164px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px){

	.portfolio_gallery a.v3,
	.portfolio_gallery a.v4{
		width: 49% !important;
		margin: 0 2% 2% 0 !important;
	}

	.portfolio_gallery a.v3:nth-child(2n),
	.portfolio_gallery a.v4:nth-child(2n){
		margin: 0px 0px 2% 0px !important;
	}

	.gallery_holder ul.v5 li,
	.gallery_holder ul.v4 li,
	.gallery_holder ul.v3 li{
		width: 31.2% !important;
		margin: 0 3.2% 20px 0 !important;
	}

	.gallery_holder ul.v5 li:nth-child(3n),
	.gallery_holder ul.v4 li:nth-child(3n),
	.gallery_holder ul.v3 li:nth-child(3n){
		margin: 0 0 20px !important;
	}

    .blog_holder article .post_info{
		width: 14%;
	}

	.blog_holder article .post_content_holder {
		width: 86%;
	}

	.grid2 .blog_single article .post_info{
		width: 17%;
	}

	.grid2 .blog_single article .post_content_holder{
		width: 83%;
	}
	
	.single_tags {
    	margin: 35px 0 0 14%;
	}
	
	.blog_holder article .post_info .inner,
	.grid2 .blog_single article .post_info .inner{
		padding: 0 10px 0 0;
	}

	.widget.widget_search form input[type="text"] {
		width: 60%;
	}

	.q_image_with_text_over.one_fourth{
		width: 49.9%;
	}
}

@media only screen and (max-width: 600px){
	
	body.boxed .wrapper_inner,
	body.boxed footer,
	body.boxed .header_inner,
	body.boxed .full_width .parallax_content,
	body.boxed .carousel-inner{
		width: 470px;
	}
	
	.container_inner,
	.boxed section.section .section_inner,
	section.grid_section .section_inner,
	.full_width .parallax_content,
	.steps_holder_inner,
	.carousel-inner .slider_content_outer{
		width: 420px;
	}
	
	nav.mobile_menu > ul{
		width: 420px;
	}
	
	.title h1 span{
		font-size: 70%;
	}
	
	.projects_holder.v6 .mix,
	.projects_holder.v5 .mix,
	.projects_holder.v4 .mix,
	.projects_holder.v3 .mix,
	.projects_holder.v2 .mix,
	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix,
	.projects_holder.circle.v6 .mix,
	.projects_holder.circle.v5 .mix,
	.projects_holder.circle.v4 .mix,
	.projects_holder.circle.v3 .mix,
	.projects_holder.circle.v2 .mix	{
		width: 47.9%;
		margin: 0 0 4.7%;
	}

	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix{
		margin: 0 0 4.2%;
	}

	.projects_holder.v6 .filler,
	.projects_holder.v5 .filler,
	.projects_holder.v4 .filler,
	.projects_holder.v3 .filler,
	.projects_holder.v2 .filler,
	.projects_holder.v6.hover_text .filler,
	.projects_holder.v5.hover_text .filler,
	.projects_holder.v4.hover_text .filler,
	.projects_holder.v3.hover_text .filler,
	.projects_holder.v2.hover_text .filler,
	.projects_holder.circle.v6 .filler,
	.projects_holder.circle.v5 .filler,
	.projects_holder.circle.v4 .filler,
	.projects_holder.circle.v3 .filler,
	.projects_holder.circle.v2 .filler{
		width: 47.9%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v3.standard_no_space .mix,
	.projects_holder.v2.standard_no_space .mix,
	.projects_holder.v6.standard_no_space .filler,
	.projects_holder.v5.standard_no_space .filler,
	.projects_holder.v4.standard_no_space .filler,
	.projects_holder.v3.standard_no_space .filler,
	.projects_holder.v2.standard_no_space .filler,
	.projects_holder.v6.hover_text.no_space .mix,
	.projects_holder.v5.hover_text.no_space .mix,
	.projects_holder.v4.hover_text.no_space .mix,
	.projects_holder.v3.hover_text.no_space .mix,
	.projects_holder.v2.hover_text.no_space .mix,
	.projects_holder.v6.hover_text.no_space .filler,
	.projects_holder.v5.hover_text.no_space .filler,
	.projects_holder.v4.hover_text.no_space .filler,
	.projects_holder.v3.hover_text.no_space .filler,
	.projects_holder.v2.hover_text.no_space .filler,
	.safari_browser .projects_holder.v6.standard_no_space .mix,
	.safari_browser .projects_holder.v6.hover_text.no_space .mix,
	.safari_browser .projects_holder.v6.standard_no_space .filler,
	.safari_browser .projects_holder.v6.hover_text.no_space .filler,
	.safari_browser .projects_holder.v5.standard_no_space .mix,
	.safari_browser .projects_holder.v5.hover_text.no_space .mix,
	.safari_browser .projects_holder.v5.standard_no_space .filler,
	.safari_browser .projects_holder.v5.hover_text.no_space .filler,
	.safari_browser .projects_holder.v4.standard_no_space .mix,
	.safari_browser .projects_holder.v4.hover_text.no_space .mix,
	.safari_browser .projects_holder.v4.standard_no_space .filler,
	.safari_browser .projects_holder.v4.hover_text.no_space .filler,
	.safari_browser .projects_holder.v3.standard_no_space .mix,
	.safari_browser .projects_holder.v3.hover_text.no_space .mix,
	.safari_browser .projects_holder.v3.standard_no_space .filler,
	.safari_browser .projects_holder.v3.hover_text.no_space .filler,
	.safari_browser .projects_holder.v2.standard_no_space .mix,
	.safari_browser .projects_holder.v2.hover_text.no_space .mix,
	.safari_browser .projects_holder.v2.standard_no_space .filler,
	.safari_browser .projects_holder.v2.hover_text.no_space .filler,
	.mac .projects_holder.v6.standard_no_space .mix,
	.mac .projects_holder.v6.hover_text.no_space .mix,
	.mac .projects_holder.v6.standard_no_space .filler,
	.mac .projects_holder.v6.hover_text.no_space .filler,
	.mac .projects_holder.v5.standard_no_space .mix,
	.mac .projects_holder.v5.hover_text.no_space .mix,
	.mac .projects_holder.v5.standard_no_space .filler,
	.mac .projects_holder.v5.hover_text.no_space .filler,
	.mac .projects_holder.v4.standard_no_space .mix,
	.mac .projects_holder.v4.hover_text.no_space .mix,
	.mac .projects_holder.v4.standard_no_space .filler,
	.mac .projects_holder.v4.hover_text.no_space .filler,
	.mac .projects_holder.v3.standard_no_space .mix,
	.mac .projects_holder.v3.hover_text.no_space .mix,
	.mac .projects_holder.v3.standard_no_space .filler,
	.mac .projects_holder.v3.hover_text.no_space .filler,
	.mac .projects_holder.v2.standard_no_space .mix,
	.mac .projects_holder.v2.hover_text.no_space .mix,
	.mac .projects_holder.v2.standard_no_space .filler,
	.mac .projects_holder.v2.hover_text.no_space .filler{
		width: 100%;
	}

	.projects_holder.v6.standard_no_space .mix,
	.projects_holder.v5.standard_no_space .mix,
	.projects_holder.v4.standard_no_space .mix,
	.projects_holder.v3.standard_no_space .mix,
	.projects_holder.v2.standard_no_space .mix{
		margin: 0 0 6.5%;
	}

	.projects_holder article .hover_feature_holder_icons,
	.portfolio_slider .hover_feature_holder_icons,
	.projects_holder.v4 article .hover_feature_holder_icons,
	.projects_holder.v5 article .hover_feature_holder_icons,
	.projects_holder.v6 article .hover_feature_holder_icons{
		height: 70%;
	}

	.portfolio_gallery a.v2,
	.portfolio_gallery a.v3,
	.portfolio_gallery a.v4{
		width: 100%;
		margin: 0px 0px 4% 0px !important;
	}

	.portfolio_gallery a.v3:nth-child(2n),
	.portfolio_gallery a.v4:nth-child(2n){
		margin: 0px 0px 4% 0px !important;
	}
	
	.blog_holder article .post_info{
		width: 15%;
	}

	.blog_holder article .post_content_holder {
		width: 85%;
	}

	.grid2 .blog_single article .post_info{
		width: 18%;
	}

	.grid2 .blog_single article .post_content_holder{
		width: 82%;
	}
	
	.single_tags {
    	margin: 35px 0 0 14%;
	}
	
	.blog_holder article .post_info .inner {
		padding: 0 5px 0 0;
	}

	.two_columns_50_50 .column1, .two_columns_50_50 .column2,
	.three_columns .column1, .three_columns .column2, .three_columns .column3,
	.two_columns_66_33 .column1, .two_columns_66_33 .column2,
	.two_columns_33_66 .column1, .two_columns_33_66 .column2,
	.two_columns_75_25 .column1, .two_columns_75_25 .column2,
	.two_columns_25_75 .column1, .two_columns_25_75 .column2,
	.four_columns .column1, .four_columns .column2, .four_columns .column3, .four_columns .column4{
		width: 100%;
	}
	
	.two_columns_50_50 .column1 .column_inner, .two_columns_50_50 .column2 .column_inner,
	.three_columns .column1 .column_inner, .three_columns .column2 .column_inner, .three_columns .column3 .column_inner,
	.two_columns_66_33 .column1 .column_inner, .two_columns_66_33 .column2 .column_inner,
	.two_columns_33_66 .column1 .column_inner, .two_columns_33_66 .column2 .column_inner,
	.two_columns_75_25 .column1 .column_inner, .two_columns_75_25 .column2 .column_inner,
	.two_columns_25_75 .column1 .column_inner, .two_columns_25_75 .column2 .column_inner,
	.two_columns_66_33.grid2 .column1 .column_inner, .two_columns_66_33.grid2 .column2 .column_inner,
	.two_columns_33_66.grid2 .column1 .column_inner, .two_columns_33_66.grid2 .column2 .column_inner,
	.two_columns_75_25.grid2 .column1 .column_inner, .two_columns_75_25.grid2 .column2 .column_inner,
	.two_columns_25_75.grid2 .column1 .column_inner, .two_columns_25_75.grid2 .column2 .column_inner,
	.four_columns .column1 .column_inner, .four_columns .column2 .column_inner, .four_columns .column3 .column_inner, .four_columns .column4 .column_inner,
	body.page-template-blog-masonry-php .two_columns_66_33>.column1>.column_inner{
		padding: 0px;
	}
	
	.footer_top .column_inner > div{
		margin: 0 0 25px !important;
	}

	.footer_top .column_inner{
		border: 0;
	}

    .footer_top .column_inner{
        padding: 0px !important;
        height: inherit !important;
    }

	.q_tabs.vertical .tabs-nav{
		width: 22%;
		margin: 0 5% 0 0;
	}

	.q_tabs.vertical.right .tabs-nav{
		float: right;
		margin: 0 0 0 5%;
	}

	.q_tabs.vertical .tabs-container {
		width: 73%;
	}

	.q_tabs.horizontal .tab-content {
		padding: 30px 0 10px;
	}

	.q_tabs .tabs-nav li a{
		padding: 0 8px;
	}

	.q_tabs.vertical .tabs-nav li a{
		padding: 6px 10px;
	}

	.gallery_holder ul.v5 li,
	.gallery_holder ul.v4 li,
	.gallery_holder ul.v3 li,
	.gallery_holder ul.v2 li{
		width: 47.5% !important;
		margin: 0 4.5% 20px 0 !important;
	}

	.gallery_holder ul.v5 li:nth-child(2n),
	.gallery_holder ul.v4 li:nth-child(2n),
	.gallery_holder ul.v3 li:nth-child(2n),
	.gallery_holder ul.v2 li:nth-child(2n){
		margin: 0 0 20px !important;
	}

	#respond textarea{
		width: 92%;
		padding: 13px 4%;
	}
	
	.blog_holder.masonry article,
	.two_columns_75_25 .blog_holder.masonry article,
	.two_columns_66_33 .blog_holder.masonry article,
	.two_columns_33_66 .blog_holder.masonry article,
	.two_columns_25_75 .blog_holder.masonry article{
		width: 100%;
	}

	.latest_post_holder ul > li.four,
	.latest_post_holder ul > li.three,
	.latest_post_holder ul > li.two{
		width: 100%;
		padding: 0 !important;
	}
    
    .call_to_action_button_wrapper.right {
        text-align: center !important;
        margin-top: 15px;
    }
            
    /* ==========================================================================
    Grid
    ========================================================================== */
    .vc_row-fluid [class*='vc_span'] {
        width: 100% !important;
        margin-left: 0 !important; 
    }      
    
    .vc_row-fluid .vc_span3 .qbutton.medium {
        padding: 0 25px;
    }

    .q_image_with_text_over.one_half,
    .q_image_with_text_over.one_third,
    .q_image_with_text_over.one_fourth{
    	width: 100%;
    }

    .title .title_on_bottom_wrap .title_on_bottom_holder .title_on_bottom_holder_inner{
    	padding: 0 15px;
    }

    .title .title_on_bottom_holder h1{
    	line-height: 18px;
    	padding: 7px 0;
    }

    .latest_post_holder ul > li.two iframe,
	.latest_post_holder ul > li.three iframe,
	.latest_post_holder ul > li.four iframe,
	body.boxed .latest_post_holder ul > li.two iframe,
	body.boxed .latest_post_holder ul > li.three iframe,
	body.boxed .latest_post_holder ul > li.four iframe{
		height: 236px;
	}
}

@media only screen and (max-width: 480px){
	
	body.boxed .wrapper_inner,
	body.boxed footer,
	body.boxed .header_inner,
	body.boxed .full_width .parallax_content,
	body.boxed .carousel-inner{
		width: 350px;
	}
	
	.container_inner,
	.boxed section.section .section_inner,
	section.grid_section .section_inner,
	.full_width .parallax_content,
	.steps_holder_inner,
	.carousel-inner .slider_content_outer{
		width: 300px;
	}

	.blog_holder.masonry{
		width: 300px !important;
	}
	
	.header_bottom{
		padding: 0px 25px;
	}
	
	footer .container_inner,
	.header_bottom .container_inner{
		width: auto;
	}
	
	nav.mobile_menu > ul{
		width: auto;
	}
	
	.projects_holder.v6 .mix,
	.projects_holder.v5 .mix,
	.projects_holder.v4 .mix,
	.projects_holder.v3 .mix,
	.projects_holder.v2 .mix,
	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix,
	.projects_holder.circle.v6 .mix,
	.projects_holder.circle.v5 .mix,
	.projects_holder.circle.v4 .mix,
	.projects_holder.circle.v3 .mix,
	.projects_holder.circle.v2 .mix{
		width: 100%;
		margin: 0 0 7.4%;
	}

	.projects_holder.v6.hover_text .mix,
	.projects_holder.v5.hover_text .mix,
	.projects_holder.v4.hover_text .mix,
	.projects_holder.v3.hover_text .mix,
	.projects_holder.v2.hover_text .mix{
		margin: 0 0 7.8%;
	}

	.projects_holder.v6 .filler,
	.projects_holder.v5 .filler,
	.projects_holder.v4 .filler,
	.projects_holder.v3 .filler,
	.projects_holder.v2 .filler,
	.projects_holder.v6.hover_text .filler,
	.projects_holder.v5.hover_text .filler,
	.projects_holder.v4.hover_text .filler,
	.projects_holder.v3.hover_text .filler,
	.projects_holder.v2.hover_text .filler,
	.projects_holder.circle.v6 .filler,
	.projects_holder.circle.v5 .filler,
	.projects_holder.circle.v4 .filler,
	.projects_holder.circle.v3 .filler,
	.projects_holder.circle.v2 .filler{
		width: 100%;
	}
	
	.single_tags {
    	margin: 35px 0 0 19%;
	}

	.q_tabs.vertical .tabs-nav{
		width: 30%;
	}

	.q_tabs.vertical .tabs-container {
		width: 65%;
	}

	.q_tabs .tabs-nav li a{
		padding: 0 5px;
	}

	.q_tabs.vertical .tabs-nav li a{
		padding: 7px 5px;
	}

	.gallery_holder ul.v5 li,
	.gallery_holder ul.v4 li,
	.gallery_holder ul.v3 li,
	.gallery_holder ul.v2 li{
		width: 100% !important;
		margin: 0 0 20px 0 !important;
	}

	.comment_holder .comment-list li ul.children{
		padding: 0 0 0 15px;
	}

	.comment_holder .comment .text .replay, 
	.comment_holder .comment .text .comment-reply-link{
		position: relative;
		display: block;
		text-align: right;
		margin: 15px 0 0;
	}
	
	.box_image_with_border{
		margin: 0px 0px 30px 0px;
	}
        
	.box_image_holder .box_icon .fa-stack {
		font-size: 4em;
	}

	.filter_holder ul li span{
		 padding: 0 10px;
	}

	.q_steps_holder .circle_small span{
		left: -35px;
	}

	.footer_bottom{
		line-height: 50px;
		min-height: 50px;
		height: auto;
	}

	.footer_bottom p,
	.footer_bottom span {
		line-height: 50px;
	}

	.textwidget{
		padding: 0 15px;
	}
    
    .blog_holder article .post_info,
    .grid2 .blog_single article .post_info{
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .blog_holder article .post_info .inner,
    .grid2 .blog_single article .post_info .inner{
        padding: 0;
    }
    
    .blog_holder article .post_content_holder,
    .grid2 .blog_single article .post_content_holder{
        width: 100%;
    }
    
    .blog_holder article .post_info .post_date {
        display: inline-block;
        border-bottom: 0;
        border-right: 1px solid #dddddd;
        padding: 0;
        width: 33.2%;
    }
    
    .blog_holder article .post_info .blog_like {
        width: 32.2%;
        border-right: 1px solid #dddddd;
        padding-top: 16px;
    }
    
    .blog_holder.blog_single .blog_share, 
    .blog_holder.blog_large_image .blog_share {
        display: inline-block;
        width: 31%;
    }
    
    .single_tags {
        margin-left: 0;
    }

    .qbutton,
	.load_more a,
	#submit_comment,
	.drop_down .wide .second ul li .qbutton,
	.drop_down .wide .second ul li ul li .qbutton{
		height: 33px;
		line-height: 33px;
		padding: 0px 15px;
	}

	.qbutton:hover,
	.load_more a:hover,
	#submit_comment:hover,
	.drop_down .wide .second ul li .qbutton:hover,
	.drop_down .wide .second ul li ul li .qbutton:hover{
		padding: 0px 22px;
	}

	.qbutton.big_large{
		height: 50px;
		line-height: 50px;
	}

	.qbutton.large {
		height: 41px;
		line-height: 41px;
		padding: 0px 32px;
	}

	.qbutton.large:hover { 
		padding: 0px 40px;
	}

	.qbutton.medium {
		height: 36px;
		line-height: 36px;
		padding: 0px 22px;
	}

	.qbutton.medium:hover { 
		padding: 0px 30px;
	}

	.qbutton.small {
	    height: 33px;
	    line-height: 33px;
	    padding: 0 15px;
	}

	.qbutton.small:hover { 
		padding: 0px 22px;
	}

	.qbutton.tiny,
	#submit_comment,
	.load_more.tiny a{
		height: 29px;
		line-height: 29px;
		padding: 0px 15px;
	}

	.qbutton.tiny:hover,
	#submit_comment:hover,
	.load_more.tiny a:hover{ 
		padding: 0px 22px;
	}

	.latest_post_holder ul > li.two iframe,
	.latest_post_holder ul > li.three iframe,
	.latest_post_holder ul > li.four iframe,
	body.boxed .latest_post_holder ul > li.two iframe,
	body.boxed .latest_post_holder ul > li.three iframe,
	body.boxed .latest_post_holder ul > li.four iframe{
		height: 169px;
	}
}
@media only screen and (max-width: 350px) {

	.full_width .section_inner_margin { margin: 0; }
}