@font-face{
    font-family:'star';
    src:url('../../../plugins/woocommerce/assets/fonts/star.eot');
    src:url('../../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'), 
        url('../../../plugins/woocommerce/assets/fonts/star.woff') format('woff'), 
        url('../../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'), 
        url('../../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
    font-weight:normal;
    font-style:normal
}

.woocommerce .content .container,
.woocommerce-page .content .container {
    padding-bottom: 50px;
}

.woocommerce .content .container .container_inner,
.woocommerce-page .content .container .container_inner {
    padding-top: 50px;
}

.woocommerce table {
    text-align: left;
}

.woocommerce table tr td {
    background: none;
    color: #888;
}

.woocommerce table th {
    background: none;
    text-align: left;
}

.woocommerce table td {
    text-align: left;
}

ul.woocommerce-error {
    list-style: none;
    margin-bottom: 10px;
}

.woocommerce div.message, 
.woocommerce .woocommerce-message, 
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info {
    position: relative;
    padding: 0.8461538461538462em 25px;
    margin: 0 0 20px 0;
    background-color: #eb005d;
    font-family: inherit;
    color: #fff;
    text-align: center;
}

ul.woocommerce-error li {
    margin-bottom: 10px;
}

ul.woocommerce-error li:last-child {
    margin-bottom: 0;
}

.woocommerce del,
.woocommerce-page del {
    color: #eb005d;
}

.woocommerce del .amount, .woocommerce-page del .amount {
    color: #eb005d;
    font-weight: 300;
    margin-right: 10px;
}

.woocommerce ul.woocommerce-error {
    list-style: none;
}

.woocommerce p.form-row {
    margin-bottom: 20px;
}

.woocommerce p.form-row label {
    display: block;
    margin-bottom: 3px;
}

.woocommerce input[type='text'],
.woocommerce input[type='password'], 
.woocommerce input[type='email'], 
.woocommerce-page input[type='text'],
.woocommerce-page input[type='password'], 
.woocommerce-page input[type='email'],
.woocommerce textarea,
.woocommerce-page textarea {
    background-color: #f6f6f6;
    padding: 8px 13px;
    border: 0;
    outline: 0;
    margin: 0;
    resize: none;
    border-radius: 2px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    color: #888;
}

.woocommerce .button,
.woocommerce-page .button,
.woocommerce-page input[type="submit"],
.woocommerce input[type="submit"],
.woocommerce ul.products li.product .added_to_cart {
    position: relative;
    display: inline-block;
    width: auto;
    height: 28px;
    line-height: 28px;
    font-size: 11px;
    padding: 0px 13px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
    background-color: #eb005d;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    border:none;
    outline: none;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.2s ease 0s; 
    -moz-transition: all 0.2s ease 0s; 
    -o-transition: all 0.2s ease 0s;
    -webkit-backface-visibility: hidden;
    text-shadow: none;
}

.woocommerce .searchform input[type="submit"]{
	border-radius: 0px;
}

.woocommerce .button:hover,
.woocommerce-page .button:hover,
.woocommerce ul.products li.product a.qbutton:hover, 
.woocommerce-page ul.products li.product a.qbutton:hover,
.woocommerce ul.products li.product .added_to_cart:hover{
    padding: 0px 25px;
    color: #fff;
    background-color: #2C2C2C;
}

.woocommerce-page input[type="submit"]:hover,
.woocommerce input[type="submit"]:hover{
    padding: 0 13px;
}

div.pp_woocommerce .pp_content_container {
    border: 1px solid #ddd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.woocommerce .select2-container,
.woocommerce-page .select2-container {
    width: 100%;
    border-radius: 2px;
}

.woocommerce .select2-container.select2-dropdown-open,
.woocommerce-page .select2-container.select2-dropdown-open{
    border-radius: 2px 2px 0 0;
}

.woocommerce .select2-dropdown-open,
.woocommerce-page .select2-dropdown-open {
    background: none;
}

.woocommerce .select2-container .select2-choice,
.woocommerce-page .select2-container .select2-choice,
.woocommerce .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices {
    background-color: #f6f6f6;
    color: #888;
    border: none;
    height: 35px;
    line-height: 35px;
    padding-left: 1.568265682656827%;
}

.woocommerce .select2-results .select2-result-label,
.woocommerce-page .select2-results .select2-result-label {
    padding-left: 12px;
}

.woocommerce .select2-container .select2-choice .select2-arrow,
.woocommerce-page .select2-container .select2-choice .select2-arrow {
    width: 35px;
    height: 31px;
    background-image: none !important;
    background: none !important;
    border-left: none;
    margin-top: 4px;
}

.woocommerce .select2-container .select2-choice .select2-arrow b,
.woocommerce-page .select2-container .select2-choice .select2-arrow b {
    background-image: url(img/wc_select_arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
}

.woocommerce .select2-results li.select2-highlighted,
.woocommerce-page .select2-results li.select2-highlighted {
    background: none;
    color: #eb005d;
}

.woocommerce .select2-drop.select2-drop-above .select2-search input[type="text"],
.woocommerce-page .select2-drop.select2-drop-above .select2-search input[type="text"],
.woocommerce .select2-drop .select2-search input[type="text"],
.woocommerce-page .select2-drop input[type="text"] {
    padding: 5px;
    background-color: #fff;
}

.woocommerce-page .select2-results,
.woocommerce-page .select2-drop input[type="text"],
.woocommerce-page .select2-drop {
    background-color: #f6f6f6;
}

.woocommerce-page .select2-drop {
    border: none;
}

.woocommerce .chosen-container.chosen-container-single .chosen-single,
.woocommerce-page .chosen-container.chosen-container-single .chosen-single,
.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
    background: none;
    background-color: #f6f6f6;
    border-color: #e0dede;
    padding-left: 2.5%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    font-family: inherit;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 35px !important;
    line-height: 35px !important;
    font-size: 14px;
    font-weight: 300;
    color: #888;
}

.woocommerce .chosen-container,
.woocommerce-page .chosen-container {
    font-size: 15px;
}

.woocommerce-checkout .form-row #billing_country_chzn.chosen-container-single .chosen-single div b,
.woocommerce-checkout .form-row #shipping_country_chzn.chosen-container-single .chosen-single div b,
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b,
.woocommerce-account .form-row .chosen-container-single .chosen-single div b{
    background: url(img/wc_select_arrow.png) no-repeat !important;
    margin-top: 4px;
    margin-right: 4px;
    width: 36px;
    height: 39px;
}

.woocommerce-checkout .form-row .chosen-container-active .chosen-single-with-drop div,
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div,
.woocommerce-account .form-row .chosen-container-active .chosen-single-with-drop div,
.woocommerce-account .form-row .chosen-container-single .chosen-single div{
    width: 35px;
    margin-right: 4px;
}

.woocommerce-checkout .form-row .chosen-container .chosen-drop,
.woocommerce-account .form-row .chosen-container .chosen-drop{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -s-border-radius: 0 !important;
    border-radius: 0 !important;
    border-color: #ddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background-color: #f6f6f6;
}

.woocommerce-checkout .chosen-container .chosen-results li,
.woocommerce-account .chosen-container .chosen-results li {
    padding: 12px 0 10px 10px;
}

.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,
.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted{
    background: transparent;
    color: #eb005d;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-search input,
.woocommerce-account .form-row .chosen-container-single .chosen-search input{
    padding-left: 7px !important;
    padding-top: 7px;
    padding-bottom: 7px;
    background: none !important;
}

.woocommerce ins,
.woocommerce-page ins {
    text-decoration: none;
}

.woocommerce div.pp_woocommerce .pp_arrow_previous, 
.woocommerce div.pp_woocommerce .pp_arrow_next,
.woocommerce-page div.pp_woocommerce .pp_arrow_previous, 
.woocommerce-page div.pp_woocommerce .pp_arrow_next {
    margin-top: 2px !important;
}
/* ==========================================================================
   Catalog page styles
   ========================================================================== */
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
    width: 50%;
    height: 80px;
}

.woocommerce .woocommerce-result-count {
    float: right;
    text-align: right;
    line-height: 35px;
    height: 60px;
    margin-bottom: 0;
    font-family: inherit;
}

.woocommerce .woocommerce-ordering .select2-container.orderby {
    width: 200px;
}

.woocommerce .select2-container.orderby .select2-choice,
.woocommerce-page .select2-container.orderby .select2-choice,
.woocommerce .select2-dropdown-open.select2-drop-above.orderby .select2-choice, 
.woocommerce .select2-dropdown-open.select2-drop-above.orderby .select2-choices,
.woocommerce-page .select2-dropdown-open.select2-drop-above.orderby .select2-choice, 
.woocommerce-page .select2-dropdown-open.select2-drop-above.orderby .select2-choices {
    padding-left: 16px;
    line-height: 35px;
    height: 35px;
    background-color: #f6f6f6;
    font-weight: 300;
    background-image: none;
}

/* Catalog product styles
   ========================================================================== */
.woocommerce ul.products {
    list-style: none;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    width: 23.25%; 
    margin-right: 2.3%;
    float: left;
    margin-bottom: 60px;
    position: relative;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product > a.product-category {
    display: block;
}

.woocommerce ul.products li.product a.qbutton.out-of-stock-button {
    background-color: #fff;
    color: #ccc;
}

.woocommerce .two_columns_66_33 ul.products li.product,
.woocommerce-page .two_columns_66_33 ul.products li.product,
.woocommerce .two_columns_75_25 ul.products li.product,
.woocommerce-page .two_columns_75_25 ul.products li.product,
.woocommerce .two_columns_25_75 ul.products li.product,
.woocommerce-page .two_columns_25_75 ul.products li.product,
.woocommerce .two_columns_33_66 ul.products li.product,
.woocommerce-page .two_columns_33_66 ul.products li.product{
    width: 30.8641975308642%; /* 250px / 810px */
    margin-right: 1.886792452830189%; /* 20px / 810px */
}

.woocommerce ul.products li.product.last {
    margin-right: 0;
}

.woocommerce .product .onsale,
.woocommerce .product .single-onsale {    
    position: absolute;
    top: 5px;
    padding: 1em 0.95em;
    font-weight: 300;
    color: #fff;
    font-size: 0.9230769230769231em;
    font-family: inherit;
    background-color: #eb005d;
    -webkit-border-radius: 3.333333333333333em;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.woocommerce .product .onsale {
    right: 5px;
}

.woocommerce .product .single-onsale {
    left: 5px;
}

.woocommerce ul.products li.product h4{
    margin-top: 15px;
}

.woocommerce ul.products li.product .price {
    display: block;
    margin: 10px 0 14px;
    font-family: inherit;
}

.woocommerce ul.products li.product .add_to_cart_button.added {
    display: none;
}

/* Catalog pagination styles
   ========================================================================== */
.woocommerce-pagination ul.page-numbers {
    list-style: none;
    text-align: center;
    position: relative;
}

.woocommerce-pagination ul.page-numbers li {
    display: inline-block;
}

.woocommerce-pagination ul.page-numbers li a,
.woocommerce-pagination ul.page-numbers li span {
    display: block;
    line-height: 35px;
    width: 35px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 0 5px 0 0;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #888;
    background-color: #f6f6f6;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
}

.woocommerce-pagination ul.page-numbers li span.current,
.woocommerce-pagination ul.page-numbers li a:hover{
    color: #fff;
    background-color: #eb005d;
}

.woocommerce-pagination ul.page-numbers li a.prev, 
.woocommerce-pagination ul.page-numbers li a.next {
    position: absolute;
    display: inline-block;
    height: 35px;
    margin: 0;
    top: 0;
}

.woocommerce-pagination ul.page-numbers li a.prev i, 
.woocommerce-pagination ul.page-numbers li a.next i{
    font-size: 14px;
    line-height: 35px;
}

.woocommerce-pagination ul.page-numbers li a.prev {
    left: 0;
}

.woocommerce-pagination ul.page-numbers li a.next {
    right: 0;
}

/* ==========================================================================
   Product page styles
   ========================================================================== */
.woocommerce div.product {
    position: relative;
}

.woocommerce .product .images {
    float: left;
    width: 49.05660377358491%;
    margin-right: 1.886792452830189%;
    margin-bottom: 20px;
}

.woocommerce div.product .images img {
    max-width: 100%;
}

.woocommerce div.product .images .thumbnails {
    margin-top: 20px;
}

.woocommerce div.product .images .thumbnails a {
    display: inline-block;
    width: 22.40384615384615%;
    margin-right: 3.409090909090909%;
    margin-bottom: 15px;
}

.woocommerce div.product .images .thumbnails a:nth-child(4n) {
    margin-right: 0;
}

.woocommerce div.product .images .thumbnails a img {
    max-width: 100%;
}

.woocommerce .product h1.product_title {
    font-size: 1.846153846153846em;
    margin-bottom: 10px;
}

.woocommerce div.product .summary p.price span.amount{
    font-size: 1.384615384615385em;
    color: #eb005d;
}

.woocommerce div.product .summary p.price del,
.woocommerce div.product .summary p.price del span.amount {
    color: #000;
}

.woocommerce div.summary div[itemprop="description"] {
    margin: 35px 0 32px 0;
}

.woocommerce div.product .cart {
    margin-bottom: 23px;
}

.woocommerce div.product .cart .quantity {
    float: left;
    margin-right: 20px;
}

.woocommerce .quantity .minus, 
.woocommerce #content .quantity .minus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page #content .quantity .minus,
.woocommerce .quantity .plus, 
.woocommerce #content .quantity .plus, 
.woocommerce-page .quantity .plus, 
.woocommerce-page #content .quantity .plus {
    border-radius: 2px;
    padding: 0;
    background-color: #f6f6f6;
    color: #888;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin: 0;
    display: inline;
    border: 0;
    outline: none;
    width: 28px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.woocommerce .quantity .minus:hover, 
.woocommerce #content .quantity .minus:hover, 
.woocommerce-page .quantity .minus:hover, 
.woocommerce-page #content .quantity .minus:hover,
.woocommerce .quantity .plus:hover, 
.woocommerce #content .quantity .plus:hover, 
.woocommerce-page .quantity .plus:hover, 
.woocommerce-page #content .quantity .plus:hover{
    background-color: #eb005d;
    color: #fff;
}

.woocommerce .quantity input[type="button"]:hover, 
.woocommerce #content .quantity input[type="button"]:hover, 
.woocommerce-page .quantity input[type="button"]:hover, 
.woocommerce-page #content .quantity input[type="button"]:hover,
.woocommerce .quantity input[type="button"]:active, 
.woocommerce #content .quantity input[type="button"]:active, 
.woocommerce-page .quantity input[type="button"]:active,
.woocommerce-page #content .quantity input[type="button"]:active {
    background-color: #eb005d;
}

.woocommerce .quantity .minus, 
.woocommerce #content .quantity .minus, 
.woocommerce-page .quantity .minus, 
.woocommerce-page #content .quantity .minus {
    padding: 0 7px 3px 7px;
}

.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty {
    border: none;
    padding: 0 5px;
    display: block;
    height: 28px;
    width: 22px;
    display: inline;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    color: #000;
    font-weight: 300;
    font-size: 17px;
    background: none;
}

.woocommerce div.product div.product_meta > span {
    display: block;
    position: relative;
    color: #000;
    font-family: inherit;
    margin-bottom: 6px;
}

.woocommerce div.product div.product_meta > span span, 
.woocommerce div.product div.product_meta > span a {
    color: #888;
    font-weight: 300;
    font-family: inherit;
    text-transform: none;
    margin-left: 3px;
}

.woocommerce .summary {
    float: right;
    width: 49.0566037735849%;
    margin-bottom: 45px;
}

.woocommerce .woocommerce-tabs {
    margin-top: 30px;
}

.woocommerce .woocommerce-tabs #tab-additional_information,
.woocommerce .woocommerce-tabs #tab-description,
.woocommerce .woocommerce-tabs .panel{
    padding: 15px 0;
}

.woocommerce .woocommerce-tabs #tab-additional_information .shop_attributes th{
    font-weight: 400;
}

.woocommerce div.woocommerce-tabs h2 {
    font-size: 1.733333333333333em;
    font-weight: 200;
}

.woocommerce ul.tabs {
    list-style: none;
}

.woocommerce ul.tabs li {
    float: left;
    margin: 0 !important;
    background-color: #fff;
}

.woocommerce ul.tabs li a {
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    display: block;
    font-family: inherit;
    color: #888;
}

.woocommerce ul.tabs li:first-child a{
    padding: 0 15px 0 0;
}

.woocommerce ul.tabs li a:hover,
.woocommerce ul.tabs li.active a{
    color: #eb005d;
}

.woocommerce #tab-description img {
    float: left;
    margin: 0 15px 15px 0;
}

.woocommerce #tab-description p {
    margin-bottom: 15px;
}

.woocommerce div.product div.upsells,
.woocommerce div.product div.related {
    clear: both;
}

.woocommerce div.product div.upsells h2,
.woocommerce div.product div.related h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.woocommerce div.product ul.products li.product.last {
    margin-right: 0;
}

.woocommerce p.stars span, 
.woocommerce-page p.stars span {
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url(img/star.png) repeat-x left 0;
}

.woocommerce p.stars span a:hover, 
.woocommerce p.stars span a:focus, 
.woocommerce-page p.stars span a:hover, 
.woocommerce-page p.stars span a:focus {
    background: url(../images/star.png) repeat-x left -16px;
}

.woocommerce p.stars span a.star-1, 
.woocommerce-page p.stars span a.star-1 {
    width: 16px;
    z-index: 10;
}

.woocommerce p.stars span a.star-2, 
.woocommerce-page p.stars span a.star-2 {
    width: 32px;
    z-index: 9;
}

.woocommerce p.stars span a.star-3, 
.woocommerce-page p.stars span a.star-3 {
    width: 48px;
    z-index: 8;
}

.woocommerce p.stars span a.star-4, 
.woocommerce-page p.stars span a.star-4 {
    width: 64px;
    z-index: 7;
}

.woocommerce p.stars span a.star-5, 
.woocommerce-page p.stars span a.star-5 {
    width: 80px;
    z-index: 6;
}

.woocommerce p.stars span a, 
.woocommerce-page p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
}

.woocommerce p.stars span a:hover, 
.woocommerce p.stars span a:focus, 
.woocommerce-page p.stars span a:hover, 
.woocommerce-page p.stars span a:focus {
    background: url(img/star.png) repeat-x left -16px;
}

.woocommerce p.stars span a.active, 
.woocommerce-page p.stars span a.active {
    background: url(img/star.png) repeat-x left -32px;
}

.woocommerce p.stars {
    height: 16px;
}

.woocommerce ol.commentlist {
    list-style: none;
}

.woocommerce div[itemprop="aggregateRating"] .star-rating {
    display: none;
}

.woocommerce .star-rating, 
.woocommerce-page .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1.1em;
    width: 5.4em;
    font-family: 'star';
    color: #f4d83a;
}

.woocommerce .star-rating span, 
.woocommerce-page .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
    content: "\73\73\73\73\73";
    color: #dfdbdf;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
}

.woocommerce li.product div.star-rating {
    display: none;
}

.woocommerce ol.commentlist li.comment img {
    float: left;
    margin-right: 10px;
} 

.woocommerce #reviews h2 {
    display: none;
}

.woocommerce #reviews .add_review {
    margin-top: 15px;
    padding-left: 15px;
}

.woocommerce ol.commentlist li:before,
.woocommerce ol.commentlist li:after,
.woocommerce aside ul.product_list_widget li:before,
.woocommerce aside ul.product_list_widget li:after,
.woocommerce aside ul.product_list_widget li:after,
.woocommerce .woocommerce-message:before, 
.woocommerce .woocommerce-message:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.woocommerce ol.commentlist li:after,
.woocommerce aside ul.product_list_widget li:after,
.woocommerce .woocommerce-message:after {
    clear: both;
}

.woocommerce ol.commentlist li {
    padding: 15px;
    border-bottom: 1px solid #e0dede;
}

.woocommerce #comments .noreviews {
    padding: 0 15px; 
} 

.woocommerce ol.commentlist li:first-child {
    padding-top: 0;
}

.woocommerce ol.commentlist li,
.woocommerce aside ul.product_list_widget li,
.woocommerce .woocommerce-message {
    *zoom: 1;
}

.woocommerce.single-product .woocommerce-message {
    background-color: #f6f6f6;
    color: #888;
    text-align: left;
}

.woocommerce.single-product .woocommerce-message a.button {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    line-height: 45px;
}

.woocommerce div.summary div.comment-text div[itemprop="description"] {
    margin: 0;
}

.woocommerce #commentform input[type="text"],
.woocommerce #commentform input[type="email"],
.woocommerce #commentform textarea {
    display: block;
    padding-left: 2.6%;
    padding-right: 2.6%;
    width: 94.8%;
}

.woocommerce #respond #reply-title {
    margin-bottom: 20px;
}

/* ==========================================================================
   My account page styles
   ========================================================================== */
.woocommerce .myaccount_user {
    margin-bottom: 20px;
}

.woocommerce .myaccount_address {
    margin: 20px 0 20px 0;
}

.woocommerce .addresses header {
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    height: auto;
    position: relative;
    text-align: left;
    padding-bottom: 6px;
    border-bottom: none;
    margin-bottom: 10px;
}

.woocommerce .addresses address {
    font-style: normal;
}

.woocommerce .addresses header a.edit {
    position: absolute;
    right: 0;
    top: 0px;
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
}

.woocommerce .addresses .col-1.address, 
.woocommerce .addresses .col-2.address {
    width: 45%;
}

.woocommerce .addresses .col-1, 
.woocommerce .addresses .col-2 {
    width: 23.61623616236162%;
    margin-right: 1.845018450184502%;
}

.woocommerce .addresses header.title {
    position: relative;
}

.woocommerce .addresses .col-1.address {
    margin-right: 2.909090909090909%;
}

.woocommerce .addresses .col-2.address {
    float: right;
}

.woocommerce .addresses:before,
.woocommerce .addresses:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.woocommerce .addresses:after {
    clear: both;
}

.woocommerce .addresses {
    *zoom: 1;
    margin-bottom: 25px;
}

/* Edit address page styles
   ========================================================================== */
form#set-address-form input[type="text"], 
form#set-address-form select {
    width: 93%;
    padding-left: 3.288201160541586%;
    padding-right: 3.288201160541586%;
}

form#set-address-form p.form-row-wide input[type="text"] {
    width: 97.54716981132076%;
    padding-left: 1.226415094339623%;
    padding-right: 1.226415094339623%;
}

form#set-address-form h3 {
    margin-bottom: 20px;
}

.woocommerce form#set-address-form .form-row-first, 
.woocommerce form#set-address-form .form-row-last, 
.woocommerce-page form#set-address-form .form-row-first, 
.woocommerce-page form#set-address-form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}

.woocommerce form#set-address-form .form-row-last,
.woocommerce-page form#set-address-form .form-row-last {
    float: right;
}

.woocommerce form#set-address-form {
    margin-bottom: 30px;
}

.woocommerce-account .select2-container .select2-choice, 
.woocommerce-account .select2-container .select2-choice {
    font-family: inherit;
    background-color: #f6f6f6;
}

.woocommerce-account table.my_account_orders {
    margin: 25px 0;
    width: 100% !important;
}

.woocommerce-account table.my_account_orders tbody tr td.order-actions {
    text-align: right;
}

.woocommerce-account table.my_account_orders tbody tr td.order-actions a{
    padding: 0 22px;
}


/* ==========================================================================
   Lost password page styles
   ========================================================================== */

.woocommerce form.lost_reset_password input[type='text'] {
    width: 185px;
}

.woocommerce form.lost_reset_password p.form-row {
    margin-top: 20px;
}

.woocommerce form.lost_reset_password label {
    display: none;
}

.woocommerce .change-pass-field {
    width: 25%;
    margin-right: 20px;
}

/* ==========================================================================
   Login and register page styles
   ========================================================================== */
.woocommerce .col-1,
.woocommerce .col-2 {
    float: left;
    width: 49.07749077490775%; /* 532px / 1084px */
}

.woocommerce .col-1 {
    margin-right: 1.845018450184502%; /* 20px / 1084px */
}

.woocommerce #customer_login .col-1 h2,
.woocommerce #customer_login .col-2 h2 {
    margin-bottom: 17px;
}

.woocommerce #customer_login .span-3 {
    width: 47.40740740740741%;
    float: left;
    margin-right: 3.703703703703704%;
}

.woocommerce #customer_login .form-row-last {
    margin-right: 0;
}

.woocommerce #customer_login input[type="text"],
.woocommerce #customer_login input[type="password"],
.woocommerce #customer_login input[type="email"] {
    width: 85.5%;
}

.woocommerce #customer_login #reg_email {
    width: 91.5%;
}

.woocommerce #customer_login .lost_password {
    margin-left: 23px;
}

/* ==========================================================================
   Cart page styles
   ========================================================================== */
.woocommerce table.cart, 
.woocommerce-page table.cart {
    width: 100%;
}

.woocommerce-page table tr:nth-child(odd) td {
    background: transparent !important;
}

.woocommerce .checkout table.shop_table thead tr, 
.woocommerce-page .checkout table.shop_table thead tr,
.woocommerce table.cart thead tr, 
.woocommerce-page table.cart thead tr,
.woocommerce-account table.my_account_orders thead tr{
    border: 1px solid #e0dede;
}

.woocommerce .checkout table.shop_table thead tr th, 
.woocommerce-page .checkout table.shop_table thead tr th,
.woocommerce table.cart thead tr th, 
.woocommerce-page table.cart thead tr th,
.woocommerce-account table.my_account_orders thead tr th, 
.woocommerce-page table.my_account_orders thead tr th {
    padding: 13px 10px;
}

.woocommerce-cart table.cart thead th, 
.woocommerce-checkout .checkout table thead th,
.woocommerce-account table.my_account_orders thead tr th, 
.woocommerce-page table.my_account_orders thead tr th {
    font-weight: 400;
    font-family: inherit;
    font-size: 14px;
    color: #000;
}

.woocommerce-cart table.cart tbody tr, 
.woocommerce-account table.my_account_orders tbody tr {
    border: 1px solid #e0dede;
}

.woocommerce-cart table.cart tbody tr td, 
.woocommerce-checkout .checkout table tbody tr td {
    vertical-align: middle;
}

.woocommerce-cart table.cart tbody tr td a, 
.woocommerce-checkout .checkout table tbody tr td a {
    color: #888;
}

.woocommerce table.cart tbody tr td img {
    display: block;
    width: 66px;
}

.woocommerce table.cart tbody tr span.amount, 
.woocommerce-page table.cart tbody span.amount {
    font-family: inherit;
    color: #888;
}

.woocommerce table.cart tbody tr:last-child, 
.woocommerce-page table.cart tbody tr:last-child {
    border: none;
} 

.woocommerce table.cart tbody td.product-remove, 
.woocommerce-page table.cart tbody td.product-remove {
    text-align: center;
    border-right: 1px solid #e0dede;
}

.woocommerce table.cart tbody td.product-remove a.remove, 
.woocommerce-page table.cart tbody td.product-remove a.remove {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url(img/wc_delete_icon.png) no-repeat center;
    text-indent: -9999px;
}

.woocommerce table.cart div.coupon,
.woocommerce-page table.cart div.coupon {
    float: left;
}

.woocommerce table.cart div.coupon label, 
.woocommerce-page table.cart div.coupon label {
    display: none;
}

.woocommerce table.cart div.coupon .input-text, 
.woocommerce-page table.cart div.coupon .input-text,
.woocommerce.woocommerce-checkout div.coupon .input-text, 
.woocommerce-page.woocommerce-checkout div.coupon .input-text {
    width: 178px;
    margin-right: 15px;
    padding: 5px 13px;
}

.woocommerce table.cart div.coupon .input-text, 
.woocommerce-page table.cart div.coupon .input-text{
    background-color: #f6f6f6;
    border: 0;
    outline: 0;
    resize: none;
    border-radius: 2px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    color: #888;
}

.woocommerce table.cart div.coupon .button, 
.woocommerce-page table.cart div.coupon .button {
    padding-left: 22px !important;
    padding-right: 22px !important;
    top: -2px !important;
}

.woocommerce table.cart td.actions {
    text-align: right;
    padding: 24px 0;
}

.woocommerce table.cart td.actions input[type="submit"] {
    padding-left: 2.583025830258303%;
    padding-right: 2.583025830258303%; /* 27px / 1084px */
    position: relative;
    top: 3px;
}

.woocommerce table.cart td.actions > .checkout-button,
.woocommerce-page table.cart td.actions > .checkout-button {
    float: right;
    padding-left: 0.9225092250922509% !important;
    padding-right: 0.9225092250922509% !important;
    margin-left: 1.845018450184502%;
}

.woocommerce div.cart-collaterals,
.woocommerce-page div.cart-collaterals {
    margin-top: 20px;
}

.woocommerce-page .cart-collaterals .cross-sells {
    clear: both;
}

.woocommerce div.cart-collaterals div.cart_totals, 
.woocommerce-page .div.cart-collaterals div.cart_totals {
    float: right;
    width: 26.3%;
}

.woocommerce div.cart-collaterals div.cart_totals th,
.woocommerce-page .div.cart-collaterals div.cart_totals th {
    padding-left: 0;
}

.woocommerce div.cart-collaterals div.cart_totals table strong, 
.woocommerce-page .div.cart-collaterals div.cart_totals table strong,
.woocommerce div.cart-collaterals div.cart_totals table th, 
.woocommerce-page .div.cart-collaterals div.cart_totals table th {
    font-weight: 300;
}

.woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
.woocommerce-page div.cart-collaterals div.cart_totals table tr.order-total strong span.amount {
    color: #eb005d;
    font-size: 1.184615384615385em;
}

.woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong {
    font-weight: 400;
    color: #eb005d;
}

.woocommerce div.cart-collaterals .shipping_calculator, 
.woocommerce-page .div.cart-collaterals .shipping_calculator {
    float: left;
    width: 49.07749077490775%;
    margin-bottom: 30px;
}

.woocommerce div.cart-collaterals .shipping_calculator input[type="text"], 
.woocommerce-page .div.cart-collaterals .shipping_calculator input[type="text"] {
    width: 93.5%;
    padding-left: 3.142329020332717%; /* 17px / 541px */
    padding-right: 3.142329020332717%; /* 17px / 541px */
}

.woocommerce div.cart-collaterals .select2-container .select2-choice, 
.woocommerce-page div.cart-collaterals .select2-container .select2-choice, 
.woocommerce div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choices, 
.woocommerce-page div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce-page div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choices {
    padding-left: 3.142329020332717%;
    font-family: inherit;
    font-weight: 300;
    background-color: #f6f6f6;
}

.woocommerce div.cart-collaterals h2, 
.woocommerce-page .div.cart-collaterals h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.woocommerce div.cart-collaterals h2 a span {
    position: relative;
    top: -2px;
    font-size: 0.7692307692307692em; /* 20px / 26px */
    left: 2px;
}

.woocommerce .empty-cart-wrapper,
.woocommerce-page .empty-cart-wrapper {
    text-align: center;
}

.woocommerce .empty-cart-wrapper p,
.woocommerce-page .empty-cart-wrapper p {
    margin-bottom: 15px;
}
/* ==========================================================================
   Checkout page styles
   ========================================================================== */
.woocommerce form.checkout .col2-set:before,
.woocommerce form.checkout .col2-set:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.woocommerce form.checkout .col2-set:after {
    clear: both;
}

.woocommerce form.checkout h3, 
.woocommerce-page form.checkout h3 {
    margin-bottom: 20px;
}

.woocommerce .checkout-opener-text {
    font-family: inherit;
    margin-bottom: 15px;
}

.woocommerce .checkout-opener-text a {
    color: #eb005d;
    font-weight: 300;
}

.woocommerce form.checkout_coupon {
    margin-bottom: 20px;
}

.woocommerce form.checkout_coupon input.input-text {
    width: 20.63636363636364%;
}

.woocommerce form.checkout_coupon .form-row-last {
    margin-bottom: 0;
}

.woocommerce form.checkout .col2-set  .form-row.notes {
    width: 100%;
}

.woocommerce form.checkout .col2-set  .form-row.notes textarea {
    width: 94.61538461538462% !important;
    height: 72px;
}

.woocommerce #shiptobilling,
.woocommerce-page #shiptobilling {
    margin-bottom: 0;
    float: right;
    position: relative;
    top: 25px;
}

.woocommerce #shiptobilling label,
.woocommerce-page #shiptobilling label {
    display: inline-block;
}

.woocommerce form.check-login .form-row {
    width: 23.70370370370371%;
    float: left;
    margin-right: 1.845018450184502%;
}

.woocommerce form.check-login .form-row input[type="text"], 
.woocommerce form.check-login .form-row input[type="password"] {
    width: 85.5%;
}

.woocommerce form.check-login div.login-entrance-text {
    margin-bottom: 20px;
}

.woocommerce form.check-login .lost_password {
    margin-left: 15px;
    display: inline-block;
    font-weight: 300;
}

.woocommerce form.checkout .col2-set .form-row {
    width: 48.14814814814815%;
    margin-right: 3.703703703703704%;
    float: left;
}

.woocommerce form.checkout .col2-set .form-row-wide {
    width: 100%;
    margin-right: 0;
    float: none;
}

.woocommerce-checkout #billing_country_field,
.woocommerce-checkout #shipping_country_field {
    height: 39px;
}

.woocommerce form.checkout .col2-set .form-row.form-row-wide input[type="text"],
.woocommerce form.checkout .col2-set .form-row.notes textarea {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
}

.woocommerce form.checkout .col2-set .form-row-last {
    margin-right: 0;
}

.woocommerce form.checkout .col2-set .form-row input[type="text"],
.woocommerce form.checkout .col2-set .form-row input[type="password"] {
    padding-left: 5.2%;
    padding-right: 5.2%;
    width: 89.6%;
}

.woocommerce form.checkout .col2-set p.form-row label {
    display: none
}

.woocommerce form.checkout .col2-set p.form-row label.checkbox {
    display: inline-block;
}

.woocommerce form.checkout p.register-row {
    margin-bottom: 8px;
    margin-top: 25px;
}

.woocommerce form.checkout #order_review_heading {
    margin-top: 23px;
}

.woocommerce form.checkout .col2-set .create-account > p {
    margin-bottom: 15px;
}

.woocommerce form.checkout table.shop_table th,
.woocommerce form.checkout table.shop_table td {
    padding-left: 0;
    text-align: center;
    padding: 10px;
}

.woocommerce form.checkout table.shop_table th,
.woocommerce form.checkout table.shop_table td strong,
.woocommerce form.checkout table.shop_table th strong {
    font-weight: 300;
}

.woocommerce form.checkout table.shop_table tfoot tr.order-total th,
.woocommerce form.checkout table.shop_table tfoot tr.order-total td span.amount {
    color: #eb005d;
}

.woocommerce form.checkout table.shop_table span.amount {
    color: #888;
    font-family: inherit;
}

.woocommerce form.checkout table.shop_table {
    width: 100%;
}

.woocommerce #payment {
    margin-top: 50px;
    margin-bottom: 25px;
}

.woocommerce #payment ul.payment_methods {
    list-style: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.woocommerce #payment ul.payment_methods li {
    padding: 10px 20px;
    border: 1px solid #e0dede;
    border-bottom: 0;
}

.woocommerce #payment ul.payment_methods li label {
    color: #000;
    margin-left: 10px;
}

.woocommerce #payment ul.payment_methods li label img{
    margin: 0 0 0 5px;
}

.woocommerce #payment ul.payment_methods li .payment_box{
    padding: 10px 0 0 35px;
}

.woocommerce input#place_order {
    float: right;
}

.woocommerce .order_details.clearfix li,
.woocommerce-page .order_details.clearfix li {
    float: left;
    margin-right: 45px;
}

.woocommerce .order_details.clearfix li p, 
.woocommerce-page .order_details.clearfix li p {
    font-weight: 400;
    color: #000;
    margin-top: 7px;
}

.woocommerce ul.order_details,
.woocommerce-page ul.order_details {
    list-style: none;
    margin-bottom: 20px;
}

.woocommerce .checkout-success-message,
.woocommerce-page .checkout-success-message {
    margin-bottom: 50px;
}

.woocommerce-checkout h2,
.woocommerce-account h2,
.woocommerce-checkout h3,
.woocommerce-account h3 {
    margin-top: 20px;
    margin-bottom: 28px;
    font-size: 17px;
}

.woocommerce-checkout header h3,
.woocommerce-account header h3 {
    margin-bottom: 20px;
}

.woocommerce-checkout table.shop_table {
    width: 42.07749077490775%;
    margin-bottom: 33px;
}

.woocommerce-account table.shop_table {
    margin-bottom: 45px;
    width: 43.077491%;
}

.woocommerce-checkout table.shop_table thead th,
.woocommerce-checkout table.shop_table tfoot th,
.woocommerce-account table.shop_table thead th,
.woocommerce-account table.shop_table tfoot th,
.woocommerce-account table.my_account_orders thead th,
.woocommerce-account table.my_account_orders tfoot th {
    color: #000;
    font-weight: 400;
}

.woocommerce-checkout table.shop_table td span.amount,
.woocommerce-account table.shop_table td span.amount {
    color: #888;
}

.woocommerce-checkout .addresses .col-1,
.woocommerce-checkout .addresses .col-2 {
    width: 23.61623616236162%;
    margin-right: 1.845018450184502%;
}

.woocommerce-checkout .addresses .col-2,
.woocommerce-account .addresses .col-2  {
    float: left;
    margin-right: 0;
}

.woocommerce-checkout .order-details-wrapper header,
.woocommerce-account div.woocommerce header {
    position: static;
    background: none;
    border: 0;
}

.woocommerce-checkout .customer_details,
.woocommerce-account .customer_details {
    margin-bottom: 18px;
}

.woocommerce-checkout .shop_table.order_details th {
    padding-left: 0;
}

.woocommerce-checkout .shop_table.order_details tr td {
    padding-left: 0;
}

.woocommerce-checkout .shop_table.order_details tr td a,
.woocommerce-checkout .shop_table.order_details tfoot tr:last-child td span.amount{
    color: #000;
}

.woocommerce-checkout .shop_table.order_details tr td span.amount {
    font-family: inherit;
}

.woocommerce-checkout .shop_table.order_details tr td .product-quantity{
    font-weight: 400;
    color: #000;
}

.woocommerce-checkout .addresses header {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* ==========================================================================
   Sidebar styles
   ========================================================================== */
.woocommerce aside div.widget {
    margin-bottom: 30px;
    padding-bottom: 0;
    border-bottom: 0;
}

.woocommerce aside h4,
.woocommerce-page aside h4{
    margin-bottom: 20px;
    font-weight: 400;
}

.woocommerce aside ul.product_list_widget li {
    display: block;
    margin-bottom: 15px;
}

.woocommerce aside ul.product_list_widget li > a {
    display: block;
    color: #4b4b4b;
}

.woocommerce aside ul.product_list_widget li ins {
    text-decoration: none;
}

.woocommerce aside ul.product_list_widget li del span.amount {
    font-size: 1em; 
}

.woocommerce aside ul.product_list_widget li img {
    float: left;
    margin-right: 7.843137254901961%; /* 20px / 255px */
    width: 71px;
}

.woocommerce aside ul.product_list_widget li span.amount {
    font-size: 1.133333333333333em;
}

.woocommerce .cart_list li a > img {
    display: none;
}

.woocommerce .widget_shopping_cart_content li {
    height: auto !important;
}

.woocommerce .widget_shopping_cart_content .total strong {
    font-weight: 400;
}

.woocommerce .widget_shopping_cart_content p.buttons {
    margin-top: 15px;
}

.woocommerce .widget_shopping_cart_content p.buttons a.button {
    width: 28.352941%;
    padding-left: 7.843137254901961%;
    padding-right: 7.843137254901961%;
}

.woocommerce .widget_shopping_cart_content a.checkout {
    float: right;
}


.widget #searchform .screen-reader-text {
    display: none;
}

.woocommerce aside .widget .star-rating, 
.woocommerce-page aside .widget .star-rating {
    float: none;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, 
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #eb005d;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.woocommerce .widget_price_filter .ui-slider-horizontal, 
.woocommerce-page .widget_price_filter .ui-slider-horizontal {
    height: .31em;
}

.woocommerce .widget_price_filter .ui-slider, 
.woocommerce-page .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.woocommerce .widget_price_filter .price_slider, 
.woocommerce-page .widget_price_filter .price_slider {
    margin-bottom: 1em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.78em;
    height: 0.78em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #eb005d;
    cursor: pointer;
    background-color: #eb005d;
    outline: none;
    top: -0.3em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-color: #ddd;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    top: 0;
    height: 100%;
}

.woocommerce .widget_price_filter .button,
.woocommerce-page .widget_price_filter .button {
    margin-top: 8px;
    float: left;
}

.woocommerce .widget_price_filter .price_label,
.woocommerce-page .widget_price_filter .price_label {
    float: right;
    margin-top: 14px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}

.woocommerce aside .widget ul.product-categories,
.woocommerce-page aside .widget ul.product-categories {
    list-style: none;
}

.woocommerce aside .widget ul.product-categories a,
.woocommerce-page aside .widget ul.product-categories a {
    color: #4b4b4b;
}

.woocommerce aside .widget ul.product-categories a:hover,
.woocommerce-page aside .widget ul.product-categories a:hover {
    color: #eb005d;
}

.woocommerce aside .widget ul.product-categories li,
.woocommerce-page aside .widget ul.product-categories li {
    margin-bottom: 10px;
}

.woocommerce aside .select2-container .select2-choice, 
.woocommerce-page aside .select2-container .select2-choice, 
.woocommerce aside .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce aside .select2-dropdown-open.select2-drop-above .select2-choices, 
.woocommerce-page aside .select2-dropdown-open.select2-drop-above .select2-choice, 
.woocommerce-page aside .select2-dropdown-open.select2-drop-above .select2-choices {
    padding-left: 12px;
    background-image: none;
}

.woocommerce aside ul.product-categories ul.children,
.woocommerce-page aside ul.product-categories ul.children {
    padding-left: 30px;
}

.woocommerce aside ul.cart_list li,
.woocommerce-page aside ul.cart_list li {
    margin-bottom: 5px;
}

.woocommerce aside ul.cart_list,
.woocommerce-page aside ul.cart_list {
    margin-bottom: 10px;
}

.woocommerce .widget_shopping_cart_content .total .amount,
.woocommerce-page .widget_shopping_cart_content .total .amount {
    font-size: 15px;
}

/* Dropdown SHopping Cart */

.shopping_cart_outer{
	display: table;
	float: left;
}

.shopping_cart_inner{
	display: table-cell;
	height: 90px;
	vertical-align: middle;
}

.shopping_cart_header{
    position: relative;
}

.shopping_cart_header .header_cart{
    padding: 0px 7px;
    display: inline-block;
		border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
    -ms-border-radius: 2px 2px 0px 0px;
}

.shopping_cart_header .header_cart:hover, 
.shopping_cart_header:hover .header_cart{
    background-color: rgba(0,0,0,0.8);
}

.shopping_cart_header .header_cart i{
		margin: 0px;
		color: #ffffff;
		font-size: 14px;
		line-height: 28px;
}

.dark .shopping_cart_header .header_cart i{
		color: #000000;
}

.light .shopping_cart_header .header_cart i{
		color: #ffffff;
}

.shopping_cart_header:hover .header_cart i,
.dark .shopping_cart_header:hover .header_cart i,
.light .shopping_cart_header:hover .header_cart i{
	color: #ffffff;
}

.shopping_cart_header .header_cart span{
    background-color: #eb005d;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.shopping_cart_dropdown{
    background-color: rgba(0,0,0,0.8);
    display: block;
    left: auto;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 1000;
    padding: 15px;
    width: 185px;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
    border-radius: 2px 0 2px 2px;
    -webkit-border-radius: 2px 0 2px 2px;
    -moz-border-radius: 2px 0 2px 2px;
    -o-border-radius: 2px 0 2px 2px;
    -ms-border-radius: 2px 0 2px 2px;
		-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out;
		-ms-transition: opacity 0.2s ease-in-out;
}

.shopping_cart_dropdown.drop_down_start{
	visibility: visible;
	overflow: visible;
	opacity: 1;
}

.header_top .left .shopping_cart_dropdown{
    left: 0;
    right: auto;
}

.shopping_cart_header:hover .shopping_cart_dropdown{
    display: block;
}

.shopping_cart_dropdown ul li{
    display: inline-block;
    width: 100%;
    float: none;
    margin: 0 0 20px;
    line-height: 20px;
}

.shopping_cart_dropdown ul li a{
    color:#888;
		font-size: 13px;
		font-weight: 400;
}

.shopping_cart_dropdown ul li a:hover{
    color: #fff;
}

.shopping_cart_dropdown span.total{
    padding: 0 0 0 8px;
}

.shopping_cart_dropdown span.total span{
    font-family: inherit;
    font-size: 15px;
    color: #fff;
    padding: 0 0 0 5px;
}

.shopping_cart_dropdown .qbutton{
    height: 28px;
    line-height: 28px;
    font-size: 11px;
    padding: 0 13px;
}

.shopping_cart_dropdown .qbutton i{
    font-size: 14px;
    padding: 0 0 0 4px;
    margin: 0;
}

.shopping_cart_dropdown .cart_list a > img{
    max-width: 60px;
    float: left;
    padding: 0 10px 0 0;
    display: block !important;
}

.shopping_cart_dropdown .cart_list span.quantity{
    display: none;
}

/* ==========================================================================
   Select 2 styles
   ========================================================================== */
/*
Version: 3.4.3 Timestamp: Tue Sep 17 06:47:14 PDT 2013
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 26px;
    text-decoration: none;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-container .select2-choice .select2-arrow b:after {
    border: 0;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background-color: #f6f6f6;
    color: #888;
}

.select2-drop.select2-drop-active{
    border-radius: 0 0 2px 2px;
}

.select2-drop-auto-width {
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box;
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background-color: #fff;
    background: url('img/select2-spinner.gif') no-repeat 100%;
    background: url('img/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('img/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('img/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('img/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    outline: none;
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 4px 7px 6px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background-color: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('img/select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}

/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(top, #eee 1%, #fff 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    outline: none;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background-color: #fff !important;
    background-image: url('img/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #888;
    cursor: default;
    background-clip: padding-box;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: url('img/select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}