/* --------------------------------------------------
   COMPATIBILITY PLUGINS
----------------------------------------------------- */

/*
Theme Name: Kleo Template
Description:  A multipurpose html template
Author: SeventhQueen
Author URI: http://themeforest.net/user/SeventhQueen/portfolio?ref=SeventhQueen
Version: 1.0
Tags: clean, responsive, creative, minimal, modern, landing page, bootstrap 3


/* --------------------------------------------------
		WooCommerce - An e-commerce toolkit that helps you sell anything. Beautifully.
----------------------------------------------------- */

/* --------------------------------------------------
		BuddyPress - Social networking in a box. Build a social network for your company, school,
		sports team or niche community all based on the power and flexibility of WordPress.
----------------------------------------------------- */

/* --------------------------------------------------
		bbPress - Is forum software with a twist from the creators of WordPress.
----------------------------------------------------- */

/* --------------------------------------------------
		K-Elements - Wordpress elements using easy to add shortcodes made by SeventhQueen.
----------------------------------------------------- */


/*
*** IN THIS DOCUMENT ***

01. WPML Multilingual CMS
02. rtMedia for WordPress, BuddyPress and bbPress - This plugin adds missing media rich features like photos,
		videos and audio uploading to BuddyPress which are essential if you are building social network, seriously!
03. Multi-Site (Buddypress) Compatibility
04. Badge OS
05. Contact form7 - Just another contact form plugin. Simple but flexible.
06. Paid memberships Pro - Plugin to Handle Memberships.
07. Social Articles - The first BuddyPress plugin that let you to create and manage posts from your profile.
08. YITH WooCommerce Wishlist - Allows you to add Wishlist functionality to your e-commerce.
09. GEO my WP - Add location to any post types, pages or members (using Buddypress) and create an advance proximity search forms.
10. BuddyPress Group Email Subscription
11 - Ultimate Addons for Visual Composer
12. Cometchat
13. Visual composer
14. MailChimp
15. Mediaelement
16. Mycred
17. TS Visual composer extend
18. BuddyPress Group Email Subscription
*/



/* --------------------------------------------------
		01 - WPML Multilingual CMS
----------------------------------------------------- */
#lang_sel li {
	width:140px;
}


/* --------------------------------------------------
		02 - rtMedia (Buddypress)
----------------------------------------------------- */
#buddypress .rtmedia-container textarea,
#buddypress .rtmedia-container input[type=text],
#buddypress .rtmedia-container input[type=text],
#buddypress .rtmedia-container input[type=color],
#buddypress .rtmedia-container input[type=date],
#buddypress .rtmedia-container input[type=datetime],
#buddypress .rtmedia-container input[type=datetime-local],
#buddypress .rtmedia-container input[type=email],
#buddypress .rtmedia-container input[type=month],
#buddypress .rtmedia-container input[type=number],
#buddypress .rtmedia-container input[type=range],
#buddypress .rtmedia-container input[type=search],
#buddypress .rtmedia-container input[type=tel],
#buddypress .rtmedia-container input[type=time],
#buddypress .rtmedia-container input[type=url],
#buddypress .rtmedia-container input[type=week],
#buddypress .rtmedia-container select,
#buddypress .rtmedia-container input[type=password] {
	border-style: solid;
	border-width: 1px;
	background: transparent;
	border-radius: 0;
	color: #bbb;
	font: inherit;
	font-size: 100%;
	padding: 6px;
}
.buddypress.media,
.buddypress.media-body {
  overflow: visible;
}
.buddypress.media,
.buddypress.media .media {
  margin-top: 0;
}
.buddypress.media:first-child {
  margin-top: 0;
}

#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item {
	height: 150px;
  width: 150px;
	margin-bottom: 30px;
}
#buddypress .rtmedia-item-thumbnail {
	position: relative;
}
#buddypress .rtmedia-item-thumbnail .hover-element > i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

#buddypress .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail {
	height: inherit;
	line-height: inherit;
	width: inherit;
}
#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item a h4,
#buddypress .rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4,
#buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4 {
	font-size: inherit;
}
body[class*="rtm-3.7"] #buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4,
body[class*="rtm-3.7"] #buddypress .rtmedia-activity-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4,
body[class*="rtm-3.7"] #buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4 {
    font-size: inherit;
    color: #fff;
}

#buddypress .rtmedia-container .rtmedia-item-title a {
	color: #bbb;
}

/* Carousel */
#buddypress div.rtmedia-activity-container ul.rtmedia-list li .rtmedia-item-thumbnail {
	margin: 0 auto;
}
#buddypress .rtmedia-activity-container .caroufredsel_wrapper {}

#buddypress.caroufredsel_wrapper .rtmedia-list .rtmedia-list-item,
#buddypress div.caroufredsel_wrapper .rtmedia-list .rtmedia-list-item {
	margin: 0 !important;
}
#buddypress div.rtmedia-activity-container ul.rtmedia-list li {
	padding: 2px !important;
}
#buddypress .rtmedia-activity-container:hover .activity-feed-prev {
	left: 2px;
	opacity: 1;
	background: rgba(0,0,0,0.1);
}
#buddypress .rtmedia-activity-container:hover .activity-feed-next {
	right: 3px;
	opacity: 1;
	background: rgba(0,0,0,0.1);
}
#buddypress .rtmedia-activity-container .activity-feed-prev:hover,
#buddypress .rtmedia-activity-container .activity-feed-next:hover {
	background: rgba(0,0,0,0.2);
}

#buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item.media-type-photo {
    width: auto;
    float: left;
}

#buddypress .activity-feed-prev,
#buddypress .activity-feed-next {
	position: absolute;
	width: 35px;
	height: 75px;
	background: rgba(0,0,0,0.0);
	text-align: center;
	font-size: 18px;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: inline-block;
	opacity:0;
	cursor: pointer;
}

#buddypress .activity-feed-prev {
	left: 25px;
	top: 40%;
	margin-top: -37px;
}
#buddypress .activity-feed-next {
	right: 25px;
	top: 40%;
	margin-top: -37px;
}
#buddypress .activity-feed-prev:after,
#buddypress .activity-feed-next:after {
	font: 22px "fontello";
	cursor: pointer;
	width: 35px;
	height: 75px;
	display: inline-block;
	color: #fff;
}
#buddypress .activity-feed-prev:after {
	content: "\e89e";
}
#buddypress .activity-feed-next:after {
	content: "\e89f";
}
#buddypress .rtmedia-item-title {
	color: #bbb;
	font-size: 11px !important;
	text-transform: uppercase;
}
.mfp-content #rtmedia-single-media-container .rtmedia-media {
	background-color: #000 !important;
}
.mfp-content #rtmedia-single-media-container .rtmedia-media img {}
.userprofile img.avatar {
	border-radius: 100%;
	border: 4px solid #333;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-user-pic img,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-user-pic img {
	border-radius: 100% !important;
}
.mfp-content .rtmedia-actions-before-description {
	color: #777;
}
.mfp-close.dashicons-no-alt::before {
    content: "\E825";
    font-family: fontello;
}

.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments textarea {
	border: 1px solid #333;
	margin-bottom: 10px;
	background-color: #151515;
	color: #e5e5e5
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments .rt_media_comment_submit {
	background-color: #5B74A8;
	border-color: #5B74A8 !important;
	color: #fff;
	font-weight: bold;
}
.mfp-content #buddypress .rtm-lightbox-container #rtmedia-single-media-container .rtm-ltb-title-container,
.mfp-content #buddypress .rtm-lightbox-container #rtmedia-single-media-container .rtm-ltb-action-container {
	padding: 0 10px 16px;
	position: absolute;
}
#buddypress .rtmedia-like-info {
	background-color: #151515;
	color: #777;
}
.rtmedia-container table,
.rtmedia-activity-container table,
#buddypress div.rtmedia-activity-container table {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #e5e5e5;
}
.rtm-file-input-container .rtMedia-simple-queue-list .upload-success {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
}
.rtm-file-input-container .rtMedia-simple-queue-list .upload-success td {
	padding: 5px 10px;
}

.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-author a,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-author a {
	color: #000;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
}
.rtmedia-comment-content {
	color: #777;
}
.rtm-comment-attachment img {
	width: 100%;
}
.rtmedia-container ul#rtmedia_comment_ul li,
.rtmedia-activity-container ul#rtmedia_comment_ul li {
	background-color: #151515;
	color: #777;
}
#buddypress #rt_media_comment_form {
	background-color: #151515;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-single-meta-contents {
	padding: 10px 20px 0 10px;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments {
	background-color: #151515 !important;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta {
	background-color: #000 !important;
}
.rtm-top-notch,
.rtmedia-container.rtmedia-single-container .row .rtmedia-item-comments .rtm-like-comments-info:before,
.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-item-comments .rtm-like-comments-info:before{
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #151515;
	top: 25px !important;
}
.rtmedia-single-meta .rtmedia-actions-before-description .rtmedia-media-attributes span.rtmedia-media-attribute {
	font-size: 13px;
}
.rtmedia-single-meta .rtmedia-actions-before-description .rtmedia-pro-rating {
	margin-left: 0;
}
.rtmedia-single-container .rtmedia-pro-rating {
	width: 100%;
}
.rtmedia-edit-privacy .rt-form-select {
	margin-left: 10px;
}
#buddypress .rtmedia-container select {
	background: url("../img/select-arrow.png") 100% 50% no-repeat;
}

/*Static page*/
#buddypress #item-body .rtmedia-item-comments .rt_media_comment_form textarea {
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	margin-bottom: 10px;
	padding: 5px 10px;
}
#item-body .rtmedia-container ul#rtmedia_comment_ul li,
#item-body .rtmedia-activity-container ul#rtmedia_comment_ul li {
	color: #777;
}
#buddypress #item-body #rt_media_comment_form {
	background-color: transparent;
}
#buddypress #item-body .rtmedia-like-info {
	background-color: #f7f7f7;
	color: #777;
}
#item-body .rtm-top-notch,
#item-body .rtmedia-container.rtmedia-single-container .row .rtmedia-item-comments .rtm-like-comments-info:before,
#item-body .rtmedia-single-container.rtmedia-activity-container .row .rtmedia-item-comments .rtm-like-comments-info:before {
	top: 25px !important;
}
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span a,
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button,
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button.rtmedia-action-buttons {
	color: #777 !important;
}
/*End Static page*/
#buddypress .mejs-controls button,
.rtmedia-container .mejs-controls button,
.rtmedia-activity-container .mejs-controls button,
#buddypress div.rtmedia-activity-container .mejs-controls button {
	padding:0;
	background: none;
}
#buddypress .hentry .mejs-controls,
.rtmedia-container .hentry .mejs-controls,
.rtmedia-activity-container .hentry .mejs-controls,
#buddypress div.rtmedia-activity-container .hentry .mejs-controls {
    margin-left: 0;
    width: 100%;
}
.rtm-lightbox-container #rtm-mejs-video-container { padding-bottom: 20px;}

.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-author a,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-author a {
	color: inherit !important;
}
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span a,
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button,
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button.rtmedia-action-buttons {
	color: #f7f7f7 !important;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-delete-comment, .rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-delete-comment {
	color: inherit !important;
}
/*.rtmedia-container #rtm-media-options,
.rtmedia-activity-container #rtm-media-options,
#buddypress div.rtmedia-activity-container #rtm-media-options,
.rtmedia-container,
.rtmedia-activity-container,
#buddypress div.rtmedia-activity-container {
	line-height: inherit !important;
}*/
#rtmedia-add-media-button-post-update {
	margin-top: 0 !important;
}
#rtm-gallery-title-container .rtm-gallery-title,
#item-body .rtmedia-container h2 {
	font-weight: 300 !important;
}

#rtm-media-options ul, .rtm-lightbox-container #rtm-media-options-list ul {
	width: 180px;
	z-index: 30;
}
.rtm-lightbox-container #rtm-media-options-list ul {
	left: -100px;
}
#rtm-media-options ul li .rtmedia-action-buttons,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons {
	color: #bbb;
}
#rtm-media-options ul li .rtmedia-action-buttons,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons {
	padding: 0 5px
}
#rtm-media-options ul li .rtmedia-action-buttons:hover,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons:hover {
	background-color: transparent;
	color: #777;
}

#rtm-media-options .rtmedia-upload-media-link,
#rtm-media-options i, #rtm-media-options a,
#rtm-media-options button, #rtm-media-options span {
	color: #bbb !important;
	cursor: pointer;
	font-size: 13px !important;
	text-decoration: none;
}
#rtm-media-options .primary,
#rtm-media-options .primary i {}
#rtm-media-options .primary {}
#rtm-media-options-list.click-nav {}

body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding: 5px 15px !important;
	width: auto !important;
	float: right;
	border-radius: 30px;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options > span {
	border-right: 1px solid #e5e5e5;
	padding-right: 10px;
	margin-right: 10px;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options span {
	transition: all 0.2s ease-in-out 0s;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options span:hover {
	color: #777 !important;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options > span:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
.rtmedia-container .rtmedia_next_prev a,
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
	background: #fff;
}
#buddypress span.theme-select.rtmedia-user-album-list {
	margin: 0 0 0 10px !important;
	width: auto !important;
	border: 1px solid #ddd !important;
	line-height: 30px !important;
	padding: 0 9px !important;
}
#buddypress span.theme-select.rtmedia-user-album-list span {
	width: auto !important;
}
.rtmedia-container .drag-drop,
.rtmedia-activity-container .drag-drop,
#buddypress div.rtmedia-activity-container .drag-drop {
	border-style: dashed;
	border-width: 2px;
}
.rtmedia-container .drag-drop .drag-drop-info,
.rtmedia-activity-container .drag-drop .drag-drop-info,
#buddypress div.rtmedia-activity-container .drag-drop .drag-drop-info {
	font-size: inherit;
}
.rtm-primary-button,
.rtmedia-container .drag-drop .start-media-upload,
.rtmedia-activity-container .drag-drop .start-media-upload,
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop .start-media-upload {
	border: none !important;
	border-radius: 5px;
	box-shadow: none !important;
	padding: 6px 20px !important;
}
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop input.start-media-upload {
    padding-top:0 !important;
}
#buddypress .rtmedia-container .rtmedia-uploader select {
	background-color: #fff;
	margin-left: 10px;
}
#rtMedia-upload-button {
	border-style: solid;
	border-width: 1px;
}
body[class*="rtm-3.7"] #rtm-media-options-list ul:before,
body[class*="rtm-3.7"] #rtm-media-sort-list ul:before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e5e5e5 !important;
    border-style: inset inset solid;
    border-width: 5px !important;
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: -10px !important;
    z-index: 9;
	}
body[class*="rtm-3.7"] #rtm-media-options-list ul,
body[class*="rtm-3.7"] #rtm-media-sort-list ul {
    background-color: #fff !important;
    border-radius: 3px !important;
    border: 1px solid #e5e5e5;
    left: -85px;
    margin-top: 12px;
    padding: 10px 5px;
    position: absolute;
    right: 0;
    width: 170px;
    z-index: 9;
}
body[class*="rtm-3.7"] #rtm-media-options-list ul li .rtmedia-action-buttons {
    border-radius: 6px;
    color: inherit;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: inherit;
    text-align: left;
    width: 100%;
}

body[class*="rtm-3.7"] .rtmedia-container .rtmedia-gallery-item-actions {
	max-width: 150px;
	z-index: 10;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options {
	visibility: hidden;
}
.logged-in #rtm-gallery-title-container #rtm-media-options {
	visibility: visible !important;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li a:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li span:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li button:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li input:hover {
	color: #777 !important;
}
body[class*="rtm-3.7"] .rtmedia_next_prev {
	text-align: center;
	padding: 30px 0 !important;
}
.rtm-load-more {
    background: none;
}

.rtmedia-container .rtmedia_next_prev a,
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
	background: none !important;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto !important;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 11px;
	height: 30px;
	line-height: 28px;
	padding: 0 10px;
}
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
    display: inline-block !important;
}
.rtmedia-container .rtmedia_next_prev a {
    max-width: 120px;
    overflow: hidden;
}
.rtmedia-container .rtmedia_next_prev a:before,
.rtmedia-activity-container .rtmedia_next_prev a:before,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a:before {
	content: "+";
	font-size: 120%;
	margin-right: 5px;
}

#rtMedia-galary-prev,
#rtMedia-galary-next {
    padding: 5px 10px;
}
#rtMedia-galary-prev {
	display: none !important;
}
.no-js #rtMedia-galary-prev {
	display: inline-block !important;
}
.rtm-media-loading {
	position: absolute;
	bottom: 25px;
	left: 25px;
	opacity: .5;
}
.rtmedia-container .rtmedia-editor-main .tabs-content .content,
.rtmedia-activity-container .rtmedia-editor-main .tabs-content .content,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main .tabs-content .content {
	padding: 10px 0 !important;
}
.rtmedia-editor-main.columns {
	padding: 0 !important;
}

.rtmedia-container.rtmedia-single-container .row,
.rtmedia-single-container.rtmedia-activity-container .row,
#buddypress div.rtmedia-single-container.rtmedia-activity-container .row {
	background-color: transparent;
}
.rtmedia-container .row .row,
.rtmedia-activity-container .row .row,
#buddypress div.rtmedia-activity-container .row .row {
	margin: 0;
}

.rtmedia-container.rtmedia-single-container .row .rtmedia-single-meta button,
.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button,
#buddypress div.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button {
	background-image: none;
	font-size: 11px;
	text-transform: uppercase;
}

.wp_attachment_image .thumbnail {
	max-width: 100% !important;
	border-radius: 0 !important;
}

.rtmedia-container .imgedit-wrap div.imgedit-settings {}
.rtmedia-container .imgedit-wrap div.imgedit-panel-content {
	min-width: 400px;
	max-width: 400px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group {
	display: inline-block;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	margin: 10px 0;
	padding: 10px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .nowrap input {
	margin: 0 5px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group p {
	display: block;
	padding: 10px 0;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group p.disabled {
	padding: 0;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .nowrap input[type="text"] {
	display: inline-block;
}
.dashicons-editor-help:before {
	font-family: 'fontello';
	content: "\e97e";
}
.imgedit-crop-wrap img {}
.rtmedia-container .row,
.rtmedia-activity-container .row,
#buddypress div.rtmedia-activity-container .row {
	max-width: 100% !important;
}
.rtmedia-container .column,
.rtmedia-activity-container .column,
#buddypress div.rtmedia-activity-container .column,
.rtmedia-container .columns,
.rtmedia-activity-container .columns,
#buddypress div.rtmedia-activity-container .columns {
	padding: 0 !important;
}
.rtmedia-container .rtmedia-editor-attributes {
	border: 1px solid #e5e5e5;
}
.rtmedia-container .rtmedia-editor-attributes .rtm-attr-edit-heading {
	background-color: #f7f7f7;
	color: #777;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
}
.rtmedia-container .rtmedia-editor-attributes .row {
	border-bottom: 1px solid #f7f7f7;
}
.rtmedia-container .rtmedia-editor-attributes .row:last-child {
	border-bottom: none;
}
.rtmedia-container .rtmedia-edit-attr-select.row,
.rtmedia-container .rtmedia-edit-attr-checkbox.row {
	padding: 10px;
}

.rtmedia-container dl.tabs,
.rtmedia-activity-container dl.tabs,
#buddypress div.rtmedia-activity-container dl.tabs {}
.rtmedia-container .tabs dd,
.rtmedia-activity-container .tabs dd,
#buddypress div.rtmedia-activity-container .tabs dd {
	float: none;
	display: inline-block;
}
.rtmedia-container .tabs dd a,
.rtmedia-activity-container .tabs dd a,
#buddypress div.rtmedia-activity-container .tabs dd a {
	display: block;
}
.rtmedia-container .rtmedia-editor-main dl.tabs dd > a,
.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a {
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
}
.rtmedia-container .rtmedia-editor-main dl.tabs dd.active > a,
.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd.active > a,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd.active > a {
	border-style: solid;
	border-width: 1px;
}
.rtmedia-container .rtmedia-editor-main dl.tabs dd > a:hover,
.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a:hover,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a:hover {}
.rtmedia-container .rtmedia-pro-url-upload .rtm-upload-url #rtmedia_url_upload_input {
    width: 100%;
}
.imgedit-submit .imgedit-submit-btn {
	float: right;
}
.rtm-tabs .dashicons {
    line-height: 1;
}
.rtmedia-success {
	background-color: #F3FFDB;
	border-left: 3px solid #81C839;
	border-radius: 0;
	color: #225500;
	font-weight: normal;
	margin-top: 3px;
	text-decoration: none;
}

.rtmedia-container .mfp-arrow {
	height: 110px !important;
	line-height: 110px !important;
	background: rgba(0,0,0, 0.5) !important;
}
#rtMedia-queue-list .remove-from-queue {}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFFFFF;
    margin-left: 31px;
}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    border-right: none;
    margin-left: 25px;
}
.mfp-arrow-right {
    right: 0;
}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFFFFF;
    margin-left: 39px;
}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: none;
}
.mfp-preloader {
    border-radius: 3px;
    color: white;
    left: 50%;
    margin-left: -100px;
    max-width: 200px;
    padding: 10px;
    position: absolute;
    right: 8px;
    text-align: center;
}
/*.mfp-preloader,
.mfp-preloader a,
.mfp-s-ready,
.mfp-s-error {
	color: #fff;
}*/


/* --------------------------------------------------
		03 - Multi-Site (Buddypress) Compatibility
----------------------------------------------------- */
#blogs-list li {
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#blogs-list li:first-child {
	border-top: 1px solid #e5e5e5;
}
#blogs-list li:last-child {
	border: none;
}

#blogs-list .item-avatar {
	border-radius: 3px;
	border-color: #f7f7f7;
	border-style: solid;
	border-width: 5px;
	display: block;
	float: left;
	height: 60px;
	margin-left: 10px;
	margin-top: -7px;
	overflow: hidden;
	position: relative;
	width: 60px;
	z-index: 2;
}
#blogs-list .item-avatar.rounded {
	border-radius: 100%;
}

#blogs-list .item {
	/*margin-left: 90px;*/
	margin-left: 20px;
	float: left;
}
#blogs-list .item .item-title {
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 5px;
}
#blogs-list .item .item-meta {}

#blogs-list .action,
#buddypress ul#blogs-list li div.action {
	margin-left: 90px;
	text-align: left;
}
#blogs-list .action .generic-button {
	float: right;
}
#blogs-list .action .meta {
	clear: left;
}




#buddypress #blogs-directory-form {
	float: none;
	text-align: center;
	margin: 30px auto;
}
#buddypress #blog-dir-search {
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-radius: 22px;
	border-style: solid;
	border-width: 1px;
	height: 33px;
  line-height: 30px;
	padding: 0 10px;
	transition: all 0.7s ease 0s;
	text-align: left;
	box-shadow: 0 0 0 4px #f7f7f7;
}

#buddypress #blog-dir-search label {}

#buddypress input#blogs_search {
	min-width: 490px;
	height: 31px;
}
#buddypress input#blogs_search:focus {
	min-width: 760px;
}

@media screen and (max-width: 767px) {
	#buddypress input#blogs_search {
		min-width: 100%;
	}
	#buddypress input#blogs_search:focus {
		min-width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#buddypress input#blogs_search {
		min-width: 250px;
	}
	#buddypress input#blogs_search:focus {
		min-width: 400px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#buddypress input#blogs_search {
		min-width: 350px;
	}
	#buddypress input#blogs_search:focus {
		min-width: 550px;
	}
}






/* --------------------------------------------------
		04 - Badge OS
----------------------------------------------------- */

#buddypress .badgeos-achievements-list-item {
	border-bottom: none;
}
#buddypress .badgeos-achievements-list-item {
	padding: 0;
}
#buddypress .activity-list .badgeos .badgeos-item-image {
	width: 30px;
	padding-right: 0;
}
.badgeos-achievements-list-item .badgeos-item-image {}




/* --------------------------------------------------
		05 - Contact form7
----------------------------------------------------- */

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="password"]{
	border: 1px solid rgba(0,0,0, .1);
	background: rgba(255,255,255, .1);
	/*height: 30px;
	line-height: 30px;*/
	height: 48px;
	line-height: 48px;
	padding: 0 10px;
	width:100%;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	color: #bbb;
}
.wpcf7 textarea {
	border: 1px solid rgba(0,0,0, .1);
	background: rgba(255,255,255, .1);
	margin: 0;
	width: 100%;
	color: #bbb;
	padding: 10px;
}
.wpcf7 input[type="submit"] {
 	border: 1px solid rgba(0,0,0, .1);
	background: rgba(255,255,255, .1);
	transition: all 0.3s ease-in-out 0s;
	border-radius: 2px;
	font-size: 12px;
	height: auto;
	line-height: 18px;
	margin: 0;
	padding: 14px 16px;
	text-transform: uppercase;
	min-width: 100px;
	color: #888;
}
.wpcf7 input[type="submit"]:hover {
	border: 1px solid rgba(0,0,0, .2);
	background: rgba(255,255,255, .0);
}

div.wpcf7-validation-errors {
  border: 1px solid #F7E700;
}

div.wpcf7-response-output {
  margin: 0;
}



/* --------------------------------------------------
		06 - Paid memberships Pro
----------------------------------------------------- */
form.pmpro_form .pmpro_submit {
	margin-left: 0;
}
.pmpro_message {
	font-size: inherit;
	font-weight: 400;
	line-height: inherit;
}

.pmpro_checkout thead th,
.pmpro_checkout tbody td {
	padding-left: 0;
	padding-right: 0;
}
#pmpro_account .pmpro_box {
	border-top-style: solid;
	border-top-width: 1px;
}
#pmpro_account ul {
	list-style: none;
	padding-left: 0;
}
#pmpro_tos_fields label {
	float: none;
	font-weight: bold;
	text-align: left;
	width: auto;
	margin: 3px 0 0;
}
#pmpro_tos_fields textarea {
	border: 1px solid #e5e5e5;
}
.pmpro_checkout tr.odd td {
	background: none;
}

form.pmpro_form .input,
form.pmpro_form textarea,
.input, form.pmpro_form select {
  border: 1px solid #e5e5e5;
}
.pmpro_checkout .theme-select {
	width: auto;
}
.pmpro-expiration-selects .theme-select {
	width: 70px;
}
#pmpro_payment_information_fields .theme-select {
	min-width: 70px;
}
.pmpro-invoice ul, .pmpro-billing ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

/*.membership .list-group {
	list-style: none;
	padding: 0;
}
.membership .list-group-item.unavailable:before,
.membership .pricing-table .extra-description:before {
    display: none;
}
.membership .list-group-item:before {
    content: "\e804";
    font: 13px 'fontello';
    margin-right: 6px;
}
.membership .list-group-item.unavailable {
    color: #C2C2C2;
}*/



/* --------------------------------------------------
		07 - Social Articles
----------------------------------------------------- */
#articles-dir-list .publish-container {
	width: 100%;
}
#articles-dir-list article.article-container {
	border-style: solid;
	border-width: 1px; 
	margin: 1%;
	padding: 10px;
	display: inline-block;
	width: 48%;
	float: left;
}
#articles-dir-list article.article-container:nth-of-type(n) {}
#articles-dir-list article.article-container:nth-of-type(2n+1) {
	clear: left;
}

@media (max-width: 991px) {
	#articles-dir-list article.article-container {
		margin: 1% 0;
		padding: 10px;
		width: 100%;
		float: none;
	}
}

#main-container .article-content {
	padding-top: 0;
	float: none;
	width: auto;
	border: none;
    background: transparent;
}
.article-content .article-image {
	height: auto;
	width: auto;
	margin-left: 0;
	margin-top: 0;
	float: left;

    margin: 0 20px 20px 0;
}
.article-content .article-image:empty {
    display: none;
    margin: 0 !important;
}

.article-content .article-data {
	margin-left: 0;
	margin-bottom: 15px;
	width: auto;
	min-height: 0;
	float: none;
}
.article-content .article-data .excerpt {}
.article-content .article-data span.date {
	float: none;
}
.article-content .article-metadata {
	padding-right: 0;
	/*border-top-style: solid;
	border-top-width: 1px;*/
	min-width: 0;
	height: auto;
	/*width: 50%;*/
    width: 100%;
	display: inline-block;
	clear: left;
}
.article-content .article-metadata .author-options {
    position: absolute;
    right: 0;
    top: 10px;
}
.article-content .article-categories {
	padding-left: 0;
	width: 50%;
	/*border-top-style: solid;
	border-top-width: 1px;*/
	line-height: 30px;
}

.article-content .article-likes,
.article-content .article-comments,
.article-content .date {
	font-family: inherit;
	font-style: normal;
	float: none;
	width: auto;
	margin-bottom: 0;
	line-height: 30px;
}

.article-content .article-container {
	border-bottom: 1px solid #e5e5e5;
}

.article-content #articles-container {
	max-width: inherit;
	min-width: inherit;
	padding-bottom: 35px;
}

.article-content .article-likes .likes-text {
    line-height: inherit;
}
.article-content .article-likes .likes-count {
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    text-shadow: none;
}
.article-content .author-options {
	width: auto;
	margin: 0;
	line-height: 30px;
}
.article-content .author-options .edit,
.article-content .author-options .delete {
    background: none;
		margin-right: 0;
		margin-left: 10px;
		text-align: center;
		color: #bbb;
		
    border-radius: 4px;
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 5px;
    width: 21px;
}
.article-content .author-options .edit:before,
.article-content .author-options .delete:before {
	font: 18px "fontello";
	content: " ";
	transition: all 0.3s ease-in-out 0s;
}
.article-content .author-options .edit:hover:before,
.article-content .author-options .delete:hover:before {}

.article-content .author-options .edit:before {
	content: "\e99c";
}
.article-content .author-options .delete:before {
	content: "\e99d";
}

.article-content .author-options .edit:hover,
.article-content .author-options .delete:hover{	
	background: none;
}

.article-content #post-maker-container {
    float: none;
    max-width: none;
    min-width: inherit;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}

.article-content #post-maker-container .options {
	float: none;
}

.article-content #post-maker-container .title-input {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: inherit !important;
    font-size: 22px !important;
    font-weight: 300 !important;
    height: auto !important;
    margin-bottom: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
		clear: both;
}

.article-content #post-maker-container .options-content,
.article-content #post-maker-container .options-content-second,
.article-content #post-maker-container .post-status-container {
	float: left;
	position: relative;
	display: inline-block;
	border: 1px solid #e5e5e5;
	background: #f7f7f7;
	margin-bottom: 10px;
	padding: 10px;
}
.article-content #post-maker-container .options-content {
	width: 50%;
}
.article-content #post-maker-container .options-content-second {
	margin-left: -1px;
	width: 50%;
}
.article-content #post-maker-container .post-status-container {
	float: left;
	margin-right: 0;
	width: 100% !important;
	border: none;
	background: none;
}
@media (max-width: 991px) {
	.article-content #post-maker-container .options-content {
		width: 100%;
	}
	.article-content #post-maker-container .options-content-second {
		margin-left: 0;
		width: 100%;
	}
}
.article-content .article-status {
    border-radius: 2px;
    float: left;
    font-size: 13px;
    height: 25px;
		line-height: 25px;
    margin-top: 5px;
    padding: 0 10px;
    width: auto;
}
.article-content .options-content .titlelabel {
    background: none;
    color: #666;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0 !important;
    padding: 0 10px 5px 5px !important;
    vertical-align: middle !important;
}
.article-content .categories-selector,
.article-content .tags-selector {
	box-shadow: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px !important;
	float: left;
	font-size: 12px;
	font-weight: normal;
	height: 35px;
	line-height: 22px;
	margin: 0;
	padding: 5px 8px;
	width: auto;
}

.article-content .category-list-container,
.article-content .tags-list-container {
	top: 42px;
	border: 1px solid #e5e5e5;
	box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
	border-radius: 3px !important;
	left: auto;
	right: 0;
}

.article-content .white-picker,
.article-content .white-picker-t,
.article-content .picker,
.article-content .picker-t {
	top: inherit;
	left: auto;
	right: 10px;
	bottom: 17px;
	width: 20px;
	background: none;
	height: 20px;
}
.article-content .white-picker:before,
.article-content .white-picker-t:before,
.article-content .picker:before,
.article-content .picker-t:before {
	font: 20px 'fontello';
	content: '\e829';
	line-height: 20px;
	text-align: center;
	transition: all 0.3s ease-in-out 0s;
}
.article-content .white-picker:hover:before,
.article-content .white-picker-t:hover:before,
.article-content .picker:hover:before,
.article-content .picker-t:hover:before {
	color: #e5e5e5;
}

.article-content .tags-ready,
.article-content .categories-ready {
    text-align: left;
}

.article-content #wysihtml5-editor-toolbar header {
    background: #f7f7f7;
    border-radius: 0;
		border: 1px solid #e5e5e5;
		border-bottom: none;
    box-shadow: none;
    display: block;
    font-size: 0;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
}
.article-content .upload-controls label,
.article-content .uploading label,
.article-content .messages-container label {
    background: #f7f7f7;
    border-radius: 0;
    display: block;
    font-style: italic;
	font-size: 12px;
    padding: 10px;
}
.article-content .messages-container {
	float: none;
	max-width: none;
	min-width: inherit;
}
.article-content #wysihtml5-editor-toolbar .commands {
	border-left: none;
	background: #f7f7f7;
	margin: 0;
	padding: 0;
}
.article-content [data-wysihtml5-command],
.article-content [data-wysihtml5-action],
.article-content .fore-color {
	float: left;
	display: inline-block;
}
.article-content .fore-color ul li {
	float: none;
	border: 1px solid red;
	display: block;
}
.article-content [data-wysihtml5-command]:hover,
.article-content [data-wysihtml5-action]:hover,
.article-content .fore-color:hover {
    background: #e5e5e5;
}
.article-content .wysihtml5-action-active,
.article-content .wysihtml5-command-active {
    background: #e5e5e5 !important;
    box-shadow: none;
}

.article-content .wysihtml5-sandbox {
	-moz-box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
	border-collapse: separate;
	border: 1px solid #e5e5e5 !important;
	border-top: none !important;
	border-radius: 0 !important;
	bottom: auto;
	box-shadow: none !important;
	clear: none;
	display: block;
	float: none;
	min-height: 300px !important;
	height: auto !important;
	left: auto;
	margin: 0 0 13px;
	outline: 0 none rgba(0, 0, 0, 0.75);
	outline-offset: 0;
	padding: 10px;
	position: static;
	right: auto;
	text-align: start;
	top: auto;
	vertical-align: top;
	width: 100% !important;
	z-index: auto;
}

.article-content .post-image-container {
    background: none;
    border-radius: 0 !important;
    box-shadow: none;
    float: left;
    margin-bottom: 20px !important;
    margin-top: 15px;
    min-height: 200px;
    position: relative;
    width: 100%;
}
.article-content .edit-controls {
    margin-top: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.article-content .notification a.social-delete {
	display: none !important;
}
.article-content .notification {
    color: #666 !important;
    font-size: 13px !important;
    height: auto !important;
    margin-top: auto !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    text-shadow: none !important;
    width: auto !important;
}
.article-content .notification a {
    display: inline !important;
    font-size: 13px !important;
    height: auto !important;
    min-width: 0 !important;
    padding: 0 !important;
		font-weight: bold;
}

.notifications .sa-notification {
    height: auto;
    margin-top: 0 !important;
    padding-left: 0 !important;
}

/* --------------------------------------------------
		08 - YITH WooCommerce Wishlist
----------------------------------------------------- */

.yith-wcwl-add-to-wishlist {}

.yith-wcwl-add-to-wishlist {
    height: 30px;
    margin-top: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 10;
}
.yith-wcwl-wishlistexistsbrowse .feedback,
.yith-wcwl-wishlistaddedbrowse .feedback {
    display: none;
}

.yith-wcwl-wishlistexistsbrowse a,
.yith-wcwl-add-button a.add_to_wishlist,
.yith-wcwl-wishlistaddedbrowse a {
    display: block;
    height: 30px;
    padding: 5px;
    position: relative;
    text-indent: -9999px;
    width: 30px;
}
.yith-wcwl-wishlistexistsbrowse a:before,
.yith-wcwl-add-button a.add_to_wishlist:before,
.yith-wcwl-wishlistaddedbrowse a:before {
    font-family: 'fontello';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 0;
    text-transform: none;
}

.yith-wcwl-add-button a.add_to_wishlist:before {
	content: "\e812";
}
.yith-wcwl-wishlistexistsbrowse a:before {
	content: "\e821";
}
.yith-wcwl-wishlistaddedbrowse a:before {
	content: "\e821";
}
.yith-wcwl-add-button a.add_to_wishlist:after,
.yith-wcwl-wishlistexistsbrowse a:after,
.yith-wcwl-wishlistaddedbrowse a:after {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	position: absolute;
	top: 4px;
	right: 30px;
	text-indent: 0;
	text-transform: none;
	line-height: 16px;
	white-space: nowrap;
	text-align: right;
	background: #fff;
	padding: 2px 4px;
	border-radius: 2px;
}
.yith-wcwl-add-button a.add_to_wishlist:after {
	content: "add to wishlist";
}
.yith-wcwl-wishlistexistsbrowse a:after,
.yith-wcwl-wishlistaddedbrowse a:after {
	content: "browse wishlist";
}

.yith-wcwl-add-to-wishlist a {
    color: #777;
    opacity: 0;
    transition: all 200ms ease-out 0s;
}
.entry-summary .yith-wcwl-add-to-wishlist a {
	opacity: 0.5;
}
.entry-summary .yith-wcwl-add-to-wishlist {
	top: 5px;
}
.woocommerce ul.products li.product:hover .yith-wcwl-add-to-wishlist a {
    opacity: 0.5;
}
.yith-wcwl-add-to-wishlist a:hover {
    opacity: 1;
}
.yith-wcwl-share {
	display: none;
}

@media screen and (max-width: 480px) {
	.yith-wcwl-add-to-wishlist a {
		opacity: 1;
	}
}



/* --------------------------------------------------
		09 - GEO my WP
----------------------------------------------------- */
.gmw-single-member-sc-wrapper {}
.gmw-single-member-sc-form-wrapper {
	padding: 20px 0;
}
.gmw-single-member-sc-form-wrapper input[type=text] {
	float: left;
}
.gmw-single-member-sc-form-wrapper input.button {
	height: 33px !important;
	line-height: 33px !important;
	margin-left: 10px;
}
.gmw-single-member-sc-form-wrapper br {
	display: none;
}
.gmw-single-member-sc-direction-wrapper {
	padding: 10px 0;
}
.gmw-single-member-sc-address-wrapper:before {
	font-family: 'fontello';
	content: "\e99f";
	margin-right: 10px;
}
.gmw-fl-location-fields-title {}
#gmw-fl-your-location {
	margin: 20px 0;
}
#gmw-fl-your-location-wrapper {
	margin-bottom: 30px;
}
#gmw-fl-location-map-wrapper {
	margin-bottom: 30px;
}
.gmw-fl-location-fields-title {
	padding-top: 20px;
}



/* --------------------------------------------------
		10 - BuddyPress Group Email Subscription
----------------------------------------------------- */

.group-subscription-div {}
.group-subscription-status {}
.group-subscription-options-link {}

#groups-list .group-subscription-options {
	width: auto;
	background: #fff;
}

#buddypress .member-options .ass_manage_members_links {
	padding-top: 0;
	text-transform: uppercase;
	/*font-family: 'Open Sans', sans-serif;*/
}
#ass-email-subscriptions-options-page form input{
    margin:10px;
}

#ass-email-subscriptions-options-page form label{
    margin-bottom: 0px;
}

.ass-email-type .ass-email-explain {
    margin-left: 33px !important;
    margin-bottom: 6px !important;
    color: #777 !important;
    font-size: 12px !important;
}


#buddypress #groups-list li div.action {

    position: initial;

}


#groups-list .group-subscription-options {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    margin: 10px 10px !important;
    width: auto;
    background-color: #fff;
    padding: 9px;
    text-align: center;
    font-size: 9px;
    border: 1px solid #efefef;
    border-bottom: 0;
    z-index: 10;
}

#groups-list .group-subscription-options a {
    min-width:130px;
}

#groups-list .group-subscription-options a.group-sub {
    background-color:#fafafa;
    margin-bottom:2px;
    display: block;
}

#groups-list .group-subscription-options a.group-subscription-close {

    background-color: #fafafa;
}

#groups-list #gsubclose-1 {
    background-color: #fafafa;
}
#buddypress #groups-list li div.action div.group-subscription-options {
    display:none;
}

#gsubopt-1.generic-button.group-subscription-options {

    background-color: #fff;
    border: 1px solid #efefef;
    font-size: 9px;
    margin: 0 auto !important;
    padding: 2% 25%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;

}

#gsubopt-1.generic-button.group-subscription-options a.group-sub {
    background-color:#fafafa;
    margin-bottom:2px;
    display: block;

}

@media (max-width: 640px) {
    #gsubopt-1.generic-button.group-subscription-options {
        padding: 2% 15%;
    }
}

/* --------------------------------------------------
		11 - Ultimate Addons for Visual Composer
----------------------------------------------------- */
.article-content .container-wrap {
	position: relative;
}



/* --------------------------------------------------
		12 - Cometchat
----------------------------------------------------- */

#cometchat *, #cometchat_hidden_content {box-sizing: content-box;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;}



/* --------------------------------------------------
		13 - Visual composer
----------------------------------------------------- */

body.compose-mode .section-container.container > .row {overflow: inherit;}
body.compose-mode .vc-element:hover .row > .vc-element:before, 
body.compose-mode .vc-element.vc-hover .row > .vc-element:before, 
body.compose-mode .vc-element.vc-hold-hover .row > .vc-element:before {
    content: "";
    height: 100%;
    left: 0;
    margin: 0;
    outline: 1px dashed rgba(125, 125, 125, 0.4);
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
body.compose-mode .vc-element .row {margin-left: 0; margin-right: 0;}

i.icon {
    height: auto;
    line-height: inherit;
    margin-left: 0;
    vertical-align: baseline;
    width: 1em;
}

.vc_message_box > p:first-of-type {
    margin-top: 0;
}
/*.wpb_single_image {
    display: inline-block;
}
.wpb_single_image img {
    width: 100%;
}
.wpb_single_image.img-full-width {
    width: 100%;
}*/


/* --------------------------------------------------
		14 - MailChimp
----------------------------------------------------- */

.mc4wp-form {}
.mc4wp-form .form-inline {}
.mc4wp-form .form-inline input {
    font-size: 16px;
}
.mc4wp-form .form-inline input[type="email"] {
    height: 52px;
    display: inline-block;
}
.mc4wp-form .form-inline a.btn {
    margin: 0 10px;
    vertical-align: inherit;
}



/* --------------------------------------------------
		15 - Mediaelement
----------------------------------------------------- */
/*.mejs-container {
	clear: none;
	width: 100% !important;
	max-width: 100% !important;
}*/
.mejs-container.mejs-video {}
.mejs-container.mejs-audio {
    /*height: 30px !important;*/
}
.kleo-video-wrap *,
.post-audio * {
    outline: none !important;
}

.mejs-overlay, .mejs-poster {}
.mejs-mediaelement video {}
.mejs-postroll-layer {}
.mejs-container {}
.mejs-inner {}

.mejs-kleo {}
.mejs-video {}
.mejs-audio {}
.me-plugin {}

.mejs-embed,
.mejs-embed body {}

.mejs-container-fullscreen {}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {}




/* Start: LAYERS */
.mejs-background {}
.mejs-mediaelement {}
.mejs-poster { background-size: cover; }
.mejs-poster img {}
.mejs-overlay {
	width: 100% !important;
}
.mejs-overlay-play {}
.mejs-overlay-button {
    background: rgba(0,0,0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px !important;
}
.mejs-overlay:hover .mejs-overlay-button:before {}
.mejs-overlay-button:before {
    font-family: "fontello";
    font-size: 22px;
    content: "\e8c4";
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding-left: 5px; /* Temporary */
}
/* End: LAYERS */
.mejs-container .mejs-controls div {}



/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    background: none;
    font-size: 11px !important;
    /*overflow: hidden;*/
}

/* rtMedia compatibility */
.rtm-lightbox-container .mejs-container .mejs-controls {
    background: rgba(255,255,255, 0.2) !important;
}
.mejs-container.mejs-audio .mejs-controls {}
.mejs-container.mejs-audio div.mejs-volume-button {
    min-height: 0;
}

.mejs-container .mejs-controls > div {
    min-height: 26px;
    height: auto;
}
.mejs-controls .mejs-button button {
    background-image: none;
    height: 16px !important;
    line-height: 0 !important;
    margin: 8px 5px;
}
.mejs-controls .mejs-button button:before {
    font-family: "fontello";
    font-size: 13px;
    color: #000;
}
.mejs-controls .mejs-button button:focus {}
/* End: CONTROL BAR */




/* Start: Time (current / duration) */
.mejs-container .mejs-controls .mejs-time {
    min-height: 0;
}

/* rtMedia compatibility */
body[class*="rtm-3.7"] .rtmedia-activity-container .mejs-time {
    margin: 2px !important;
}
.mejs-container .mejs-controls .mejs-time span {
    color: #000;
}

/* rtMedia compatibility */
.rtmedia-activity-container .mejs-time.mejs-currenttime-container {
    display: none;
}
/* End: Time (current / duration) */




/* Start: Play/pause */
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {}

.mejs-controls .mejs-play button:before { content: "\e8c4"; }
.mejs-controls .mejs-pause button:before { content: "\e8c8"; }

.mejs-overlay-loading,
.mejs-overlay-loading span {
    background: none !important;
}
/* End: Play/pause */




/* Stop */
.mejs-controls .mejs-stop button {}
/* End: Play/pause */




/* Start: Progress bar */
.mejs-controls div.mejs-time-rail {}
.mejs-controls .mejs-time-rail a {
    height: 4px;
}
.mejs-controls .mejs-time-rail span {
    border-radius: 0;
    height: 6px;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    background: #fff;
    margin: 6px 5px;
}
.mejs-controls .mejs-time-rail .mejs-time-total .mejs-offscreen {
    display: none;
}

/* rtMedia compatibility */
.rtm-lightbox-container .mejs-time-rail .mejs-time-total {
    background: rgba(255,255,255, 0.5);
}
.mejs-controls .mejs-time-rail .mejs-time-buffering {}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #000;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #00B9F7;
}
.mejs-controls .mejs-time-rail .mejs-time-handle {}
.mejs-controls .mejs-time-rail .mejs-time-float {
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
}

.rtmedia-activity-container .mejs-time-rail .mejs-time-float {
    margin-left: -17px !important;
}
.mejs-controls .mejs-time-rail .mejs-time-float-current {}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {}
/* End: Progress bar */




/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button:before {
    content: "\e88c";
}
.mejs-controls .mejs-unfullscreen button:before {
    content: "\e88e";
}
/* End: Fullscreen */




/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button button:before {
    content: "\e887";
}
.mejs-controls .mejs-mute button:before	{
    content: "\e887";
}
.mejs-controls .mejs-unmute button:before	{
    content: "\e886";
}
.mejs-controls .mejs-volume-button {}
.mejs-controls .mejs-volume-button .mejs-volume-slider {}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {}




/* horizontal version */
.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls div.mejs-horizontal-volume-slider {
    float: right;
}

/* rtMedia compatibility */
body[class*="rtm-3.7"] .rtmedia-activity-container .mejs-time-rail {
    margin: 9px 5px 0 0 !important;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #fff;
    border-radius: 0;
    height: 6px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #444;
    border-radius: 0;
    height: 6px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {}
/* End: Mute/Volume */



/* Start: TRACK (Captions and Chapters) */
.mejs-controls .mejs-captions-button {}
.mejs-controls .mejs-captions-button .mejs-captions-selector {}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {}
.mejs-controls .mejs-captions-button .mejs-captions-translations {}
.mejs-chapters {}
.mejs-chapters .mejs-chapter {}
.mejs-chapters .mejs-chapter .mejs-chapter-block {}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {}
.mejs-captions-layer {}
.mejs-captions-layer  a {}
.mejs-captions-layer[lang=ar] {}
.mejs-captions-position {}
.mejs-captions-position-hover {}
.mejs-captions-text {}
/* End: TRACK (Captions and Chapters) */



.mejs-clear {}



/* Start: ERROR */
.me-cannotplay a {}
.me-cannotplay span {}
/* End: ERROR */




/* Start: Loop */
.mejs-controls .mejs-loop-off button {}
.mejs-controls .mejs-loop-on button {}
/* End: Loop */




/* Start: backlight */
.mejs-controls .mejs-backlight-off button {}
.mejs-controls .mejs-backlight-on button {}
/* End: backlight */




/* Start: picture controls */
.mejs-controls .mejs-picturecontrols-button {}
/* End: picture controls */




/* context menu */
.mejs-contextmenu {
    z-index: 1001; /* make sure it shows on fullscreen */
}
.mejs-contextmenu .mejs-contextmenu-separator {}
.mejs-contextmenu .mejs-contextmenu-item {}
.mejs-contextmenu .mejs-contextmenu-item:hover {
}



/* Start: SourceChooser */
.mejs-controls .mejs-sourcechooser-button {}
.mejs-controls .mejs-sourcechooser-button button {}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {}
/* End: SourceChooser */



/* Start: Postroll */
.mejs-postroll-layer {}
.mejs-postroll-layer-content {}
.mejs-postroll-close {}
/* End: Postroll */


/* --------------------------------------------------
	16.	Events manager
----------------------------------------------------- */

div.css-search.has-search-geo.has-search-term input.em-search-text,
div.css-search.has-search-geo.has-search-term input.em-search-geo
{
    width:auto !important;
    display: inline;
}
div.css-search input, div.css-search select {
    display: inline-block;
}

/* --------------------------------------------------
	17.	MyCred
----------------------------------------------------- */
#mycred-users-badges img.mycred-badge {
	width: 30px;
	margin:	5px;
}


/* --------------------------------------------------
	17.	TS Visual composer extend
----------------------------------------------------- */
.ts-icon-title-text {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    padding: 0 20px;
}


/* --------------------------------------------------
	18.	BuddyPress Cover photo
----------------------------------------------------- */

.profile-cover-action {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 4;
	transition: all 0.5s ease-in-out 0s;
}
.buddypress.bp-header-small .profile-cover-action {
	top: 67px;
}
.buddypress .profile-cover-action a.button {
    white-space: nowrap;
    line-height: 30px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 40px;
    overflow: hidden;

	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 !important;
	border: none !important;
	text-align: left !important;
}
.buddypress.is-user-profile .profile-cover-action a.button {
    color: rgba(255,255,255,0.7) !important;
}
.buddypress .profile-cover-action a.button:before {
    display: inline-block;
    font: 16px 'fontello';
    content: "\e81c";
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px !important;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.buddypress.is-user-profile .profile-cover-action a.button:before {
    background: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.5);
}
.buddypress.is-user-profile .profile-cover-action a.button:hover:before {
    color: rgba(255,255,255,0.9);
}
.buddypress .profile-cover-action a.button:hover {
    width: 140px;
}
.buddypress.is-user-profile .profile-cover-action a.button:hover {
    background-color: transparent !important;
}
body.is-user-profile div#item-header div#item-header-content {
    z-index: 2;
    position: relative;
}
body.is-user-profile div#item-header div#item-meta {
    margin-top: 5px;
}
body.is-user-profile #item-header-avatar{
    box-shadow:none;
}
body.bp-header-small .bp-full-width-profile div#item-header {
	padding-bottom: 40px;
}

body.is-user-profile .bp-full-width-profile div#item-header {
	padding: 80px 10px;
	margin-top: 0;
}
body.is-user-profile.bp-header-small .bp-full-width-profile div#item-header {
	padding-bottom: 40px;
	padding-top: 40px;
}
body.is-user-profile div#message {
	position: absolute;
}
.bp-full-width-profile #item-header-avatar{
    box-shadow:none;
}
body.is-user-profile.bp-header-small #item-header-avatar {
    box-shadow:none;
}


.is-user-profile div#item-header div#item-header-content h4,
.is-user-profile div#item-header div#item-header-content a,
.is-user-profile div#item-header div#item-header-content .label,
.is-user-profile div#item-header div#item-header-content span.activity,
.buddypress.is-user-profile div#item-header div#item-actions h3,
.is-user-profile div#item-header div#item-meta {
    color: #fff !important;
}
.is-user-profile div#item-header div#item-header-content .generic-button a:hover {
	color: #444 !important;
}

body.is-user-profile #item-header-avatar {border-width: 6px;}
body.is-user-profile .profile-cover-inner {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
body.is-user-profile.bp-header-small .profile-cover-inner {
    background: none;
}

/* --------------------------------------------------
	18. BP Profile search
----------------------------------------------------- */

.bps-form input.form-control {
    margin-bottom: 0;
}

/* Large form */
.bps-form-large {
    text-align: center;
}
.bps-form-large .form-group {
    margin-right: 10px;
    margin-bottom: 10px;
}
.bps-form-large .form-control {
    font-size: 16px;
    line-height: normal;
}
.bps-form .btn-lg {
    height: 45px;
    line-height: 15px;
    margin-top: 0;
    vertical-align: top;
}
.bps-form-large .radio input[type="radio"],
.bps-form-large .checkbox input[type="checkbox"] {
    margin-right: 5px;
}
.bps-form-large p.description {
    font-style: italic;
    color: #fff;
}

html.js .bps-form select.multi-js {
    display: none;
}
.bps-form .input-range {
    width: 130px;
}
.multiselect-container li {
    text-align: left;
}
button.multiselect {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
}
button.multiselect .caret {
    float: right;
}
button.multiselect .caret {
    line-height: 30px;
}
button.multiselect.btn-lg .caret {
    line-height: 45px;
    float: right;
}

ul.multiselect-container {
    z-index: 3;
}
.multiselect-container label.checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.bps-form-legacy button.multiselect,
.bps-form-legacy .btn-group {
    width: 100%;
}

@media (max-width: 767px) {
    .bps-form .btn-group, .bps-form .btn-group button, .bps-form .input-range {
        width: 100%;
    }
}